@forward "components/theme";
@forward "components/buttons";
@forward "components/header";
@forward "components/footer";
@forward "components/search";
@forward "components/hamburger";
@forward "components/preloader";
@forward "components/backtotop";
@forward "components/404";

@forward "layout/heading";
@forward "layout/hero";
@forward "layout/choose";
@forward "layout/client";
@forward "layout/about";
@forward "layout/services";
@forward "layout/marquee";
@forward "layout/project";
@forward "layout/testimonial";
@forward "layout/faq";
@forward "layout/blog";
@forward "layout/cta";
@forward "layout/countup";
@forward "layout/working-process";
@forward "layout/contact";
@forward "layout/slider";
@forward "layout/team";
@forward "layout/team-details";
@forward "layout/progress-bar";
@forward "layout/page-header";
@forward "layout/pricing";
@forward "layout/blog-details";
@forward "layout/achievement";
@forward "layout/video";
@forward "layout/gallery";
@forward "layout/animate";

// home 5
@forward "components/h5-header";
@forward "components/h5-footer";
@forward "layout/h5-hero";
@forward "layout/h5-choose";
@forward "layout/h5-about";
@forward "layout/h5-services";
@forward "layout/h5-project";
@forward "layout/h5-working-process";
@forward "layout/h5-faq";
@forward "layout/h5-testimonial";
@forward "layout/h5-client";
@forward "layout/h5-blog";
@forward "layout/h5-cta";

// home 6
@forward "components/h6-header";
@forward "components/h6-footer";
@forward "layout/h6-hero";
@forward "layout/h6-choose";
@forward "layout/h6-about";
@forward "layout/h6-services";
@forward "layout/h6-working-process";
@forward "layout/h6-project";
@forward "layout/h6-pricing";
@forward "layout/h6-testimonial";
@forward "layout/h6-blog";

// home 7
@forward "components/h7-header";
@forward "components/h7-footer";
@forward "layout/h7-hero";
@forward "layout/h7-about";
@forward "layout/h7-client";
@forward "layout/h7-working-process";
@forward "layout/h7-services";
@forward "layout/h7-testimonial";
@forward "layout/h7-team";
@forward "layout/h7-project";
@forward "layout/h7-faq";
@forward "layout/h7-marquee";
@forward "layout/h7-blog";

// home 8
@forward "components/h8-header";
@forward "components/h8-footer";
@forward "layout/h8-hero";
@forward "layout/h8-choose";
@forward "layout/h8-marquee";
@forward "layout/h8-countup";
@forward "layout/h8-services";
@forward "layout/h8-working-process";
@forward "layout/h8-project";
@forward "layout/h8-testimonial";
@forward "layout/h8-team";
@forward "layout/h8-blog";
@forward "layout/h8-cta";

// home 9
@forward "components/h9-header";
