@use "../utilities" as *;

/**----------------------------------------
START: Theme Footer CSS
----------------------------------------*/
.footer-5 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: 2px solid var(--tj-color-theme-primary);
	box-shadow: 0 0 15px 0 rgba(47, 107, 255, 0.7);
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: var(--tj-color-theme-bg);
		opacity: 0.9;
		z-index: -1;
	}
	.footer-main-area {
		padding: 115px 0 85px 0;
		@media #{$lg, $md} {
			padding: 90px 0 70px;
		}
		@media #{$sm, $xs} {
			padding: 70px 0 50px;
		}
	}
	.widget-subscribe {
		max-width: 360px;
		margin-inline-start: 0;
		margin-top: 0;
		@media #{$xl, $lg, $md} {
			max-width: 310px;
			padding-inline-start: 0;
		}
	}
	.subscribe-form {
		input[type="email"] {
			height: 60px;
			border: 1px solid var(--tj-color-border-1);
		}
		button {
			width: 60px;
			height: 60px;
			&::before {
				height: 100%;
			}
		}
	}
	.social-links.style-2 {
		margin-top: 55px;
		@media #{$lg, $md} {
			margin-top: 40px;
		}
		@media #{$sm, $xs} {
			margin-top: 30px;
		}
		.title {
			margin-bottom: 25px;
			@media #{$sm, $xs} {
				margin-bottom: 20px;
			}
		}
		ul {
			li {
				a {
					width: 36px;
					height: 36px;
					font-size: 18px;
					border: 1px solid var(--tj-color-border-1);
					&:hover {
						border-color: var(--tj-color-theme-primary);
					}
				}
			}
		}
	}
	.widget-nav-menu {
		ul {
			li {
				a {
					color: var(--tj-color-common-white);
					&::before {
						border-color: var(--tj-color-common-white);
					}
					&:hover {
						color: var(--tj-color-theme-primary);
						&::before {
							border-color: var(--tj-color-theme-primary);
						}
					}
				}
			}
		}
		&.footer-col-2 {
			padding-inline-start: 60px;
			@media #{$xl, $lg, $md} {
				padding-inline-start: 30px;
			}
			@media #{$sm, $xs} {
				margin-top: 30px;
				padding-inline-start: 0;
			}
		}
		&.footer-col-3 {
			padding-inline-start: 90px;
			@media #{$xl} {
				padding-inline-start: 50px;
			}
			@media #{$lg, $md, $sm, $xs} {
				margin-top: 30px;
				padding-inline-start: 0;
			}
		}
	}
	.footer-contact-info {
		.contact-item {
			span {
				color: var(--tj-color-common-white);
			}
			a {
				background-color: var(--tj-color-theme-dark);
				&:hover {
					background-color: var(--tj-color-theme-primary);
				}
			}
		}
	}

	@media #{$sm, $xs} {
		margin-inline-start: 15px;
		margin-inline-end: 15px;
	}
}
.tj-copyright-area-4 {
	.copyright-content-area {
		align-items: flex-end;
		padding: 42px 0;
		@media #{$lg} {
			padding: 30px 0;
		}
		@media #{$md, $sm, $xs} {
			padding: 23px 0;
			justify-content: center;
		}
		.footer-logo {
			max-width: 239px;
		}
	}
}

.copyright-inner {
	display: inline-flex;
	align-items: center;
	.copyright-text-2 {
		position: relative;
		margin-right: 10px;
		padding-right: 14px;
		z-index: 1;
		&::before {
			content: "";
			background-color: var(--tj-color-theme-primary);
			position: absolute;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			@media #{$sm, $xs} {
				display: none;
			}
		}
		@media #{$sm, $xs} {
			margin-right: 0;
			padding-right: 0;
		}
	}
	@media #{$sm, $xs} {
		width: 100%;
		flex-direction: column;
		gap: 10px;
	}
}
.copyright-text-2 {
	p {
		margin: 0;
	}
	a {
		color: var(--tj-color-common-white);
		&:hover {
			color: var(--tj-color-theme-primary);
		}
	}
	@media #{$sm, $xs} {
		width: 100%;
		text-align: center;
	}
}

/* !END: Theme Footer CSS */
