@use "../utilities" as *;

/**----------------------------------------
START: Theme Footer CSS
----------------------------------------*/
.footer-6 {
	border-top: 4px solid var(--tj-color-theme-primary);
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: -200px;
		right: -150px;
		width: 600px;
		height: 600px;
		border-radius: 50%;
		background: var(--tj-color-theme-primary);
		-webkit-filter: blur(100px);
		filter: blur(100px);
		backdrop-filter: blur(10px);
		opacity: 0.2;
		z-index: -1;
		pointer-events: none;
		@media #{$xl} {
			width: 600px;
			height: 500px;
		}
		@media #{$lg, $md} {
			width: 500px;
			height: 450px;
		}
		@media #{$sm, $xs} {
			width: 400px;
			height: 350px;
			top: -100px;
		}
	}
	&::after {
		width: 800px;
		top: inherit;
		right: inherit;
		left: -250px;
		bottom: -250px;
		@media #{$xl} {
			width: 600px;
			height: 500px;
		}
		@media #{$lg} {
			width: 500px;
			height: 450px;
			left: -150px;
			bottom: -150px;
		}
		@media #{$md} {
			width: 400px;
			height: 350px;
			left: -150px;
			bottom: -150px;
		}
		@media #{$sm, $xs} {
			width: 400px;
			height: 350px;
			left: -150px;
			bottom: -150px;
		}
	}
	.social-links.style-2 {
		margin-top: 60px;
		@media #{$lg, $md} {
			margin-top: 40px;
		}
		@media #{$sm, $xs} {
			margin-top: 30px;
		}
		.title {
			margin-bottom: 25px;
			@media #{$sm, $xs} {
				margin-bottom: 20px;
			}
		}
		ul {
			li {
				a {
					width: 36px;
					height: 36px;
					font-size: 18px;
					border: 1px solid var(--tj-color-border-1);
					&:hover {
						border-color: var(--tj-color-theme-primary);
					}
				}
			}
		}
	}
	.footer-big-logo {
		max-width: 1320px;
		width: 100%;
		margin-top: 20px;
		margin-bottom: -105px;
		opacity: 0.2;
		mix-blend-mode: luminosity;
		@media #{$xl} {
			margin-bottom: -85px;
		}
		@media #{$lg} {
			margin-bottom: -70px;
		}
		@media #{$md} {
			margin-bottom: -50px;
		}
		@media #{$sm} {
			margin-bottom: -35px;
		}
		@media #{$xs} {
			margin-bottom: -25px;
		}
	}

	@media #{$sm, $xs} {
		margin-inline-start: 15px;
		margin-inline-end: 15px;
	}
}
.h6-widget-subscribe {
	max-width: 555px;
	width: 100%;
	@media #{$xl} {
		max-width: 500px;
	}
	@media #{$md, $sm, $xs} {
		max-width: 100%;
	}
	.title {
		font-size: 70px;
		line-height: 1.114;
		background: linear-gradient(
			90deg,
			rgb(255, 255, 255) 20%,
			rgba(255, 255, 255, 0.25) 80%
		);
		background-clip: border-box;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@media #{$xl} {
			font-size: 62px;
		}
		@media #{$lg} {
			font-size: 54px;
		}
		@media #{$sm, $xs} {
			font-size: 44px;
		}
		@media #{$xxs} {
			font-size: 36px;
		}
	}
	.subscribe-form {
		input[type="email"] {
			height: 64px;
			border: 1px solid var(--tj-color-border-1);
			border-radius: 50px;
			padding: 15px 175px 15px 30px;
			@include placeholder {
				color: var(--tj-color-grey-1);
			}
		}
		button {
			width: auto;
			height: auto;
			top: 7px;
			right: 7px;
			i {
				font-size: 20px;
			}
			&::before {
				display: none;
			}
			@media #{$xs} {
				position: unset;
				margin-top: 10px;
			}
		}
	}
}
.h6-footer-left {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}
.h6-copyright-area {
	position: relative;
	.copyright-text-2 {
		text-align: left;
	}
	.shape-1 {
		position: absolute;
		width: 141px;
		right: 130px;
		bottom: -14px;
		mix-blend-mode: luminosity;
		z-index: -1;
		animation: zoomEffect 4s linear infinite;
		@media #{$xl, $md} {
			right: 90px;
		}
		@media #{$lg} {
			width: 110px;
			right: 40px;
		}
		@media #{$md} {
			width: 110px;
		}
		@media #{$sm, $xs} {
			width: 90px;
			right: 0;
			bottom: 0;
		}
	}
	@media #{$md} {
		margin-top: 100px;
	}
	@media #{$sm, $xs} {
		margin-top: 80px;
	}
}
.h6-footer-right {
	background-color: var(--tj-color-theme-dark);
	border-radius: 16px;
	padding: 30px;
	position: relative;
	.widget-nav-menu {
		display: flex;
		justify-content: space-between;
		padding-bottom: 20px;
		margin-top: 0;
		ul {
			max-width: 190px;
			width: 100%;
			li {
				a {
					&::before {
						border-color: var(--tj-color-white-2);
					}
					&:hover {
						color: var(--tj-color-theme-primary);
						&::before {
							border-color: var(--tj-color-theme-primary);
						}
					}
				}
			}
		}
		&:not(:first-child) {
			border-top: 1px dashed var(--tj-color-border-1);
			padding-top: 28px;
			padding-bottom: 0;
		}

		@media #{$xs} {
			flex-direction: column;
		}
	}

	@media #{$md, $sm, $xs} {
		margin-top: 40px;
	}
	@media #{$xs} {
		padding: 20px 15px;
	}
}

/* !END: Theme Footer CSS */
