@use "../utilities" as *;

/**----------------------------------------
START: Theme Footer CSS
----------------------------------------*/
.h8-footer-section {
	.footer-main-area {
		padding: 0 0 90px;
		@media #{$lg} {
			padding: 0 0 70px;
		}
		@media #{$md, $sm, $xs} {
			padding: 0 0 50px;
		}
	}

	.widget-nav-menu {
		ul {
			li {
				a {
					color: var(--tj-color-white-2);
					font-family: var(--tj-ff-heading);
					&::before {
						border: 0;
						background-color: var(--color-section-bg);
						opacity: 0.15;
					}
					&:hover {
						color: var(--tj-color-common-white);
						&::before {
							opacity: 1;
						}
					}
				}
			}
		}
		&.footer-col-1 {
			max-width: 212px;
			width: 100%;
			height: 100%;
			margin-bottom: 0;
			@media #{$xl} {
				max-width: 200px;
			}
			@media #{$lg} {
				max-width: 300px;
			}
			@media #{$md} {
				max-width: 255px;
			}
			@media #{$sm, $xs} {
				max-width: 100%;
				height: auto;
				margin-top: 0;
			}
		}
		&.footer-col-2 {
			max-width: 292px;
			width: 100%;
			height: 100%;
			padding-inline-start: 0;
			margin-inline-start: -10px;
			@media #{$xl} {
				margin-inline-start: -20px;
				&.col-border {
					&::after {
						right: -8px;
					}
				}
			}
			@media #{$lg} {
				padding-inline-start: 0;
				margin-inline-start: 0;
				&.col-border {
					&::after {
						display: none;
					}
				}
			}
			@media #{$md} {
				padding-inline-start: 30px;
				margin-inline-start: 0;
				&.col-border {
					&::after {
						display: none;
					}
				}
			}
			@media #{$sm, $xs} {
				max-width: 100%;
				height: auto;
				margin-top: 0;
				margin-top: 40px;
				padding-inline-start: 0;
				margin-inline-start: 0;
			}
		}
		&.footer-col-3 {
			max-width: 288px;
			width: 100%;
			height: 100%;
			padding-inline-start: 58px;
			@media #{$xl} {
				padding-inline-start: 38px;
				&.col-border {
					&::after {
						right: 23px;
					}
				}
			}
			@media #{$lg} {
				max-width: 300px;
				height: calc(100% - 35px);
				margin-top: 40px;
				padding-inline-start: 0;
			}
			@media #{$md} {
				max-width: 255px;
				height: calc(100% - 35px);
				margin-top: 40px;
				padding-inline-start: 0;
			}
			@media #{$sm, $xs} {
				max-width: 100%;
				height: auto;
				margin-top: 40px;
				padding-inline-start: 0;
			}
		}
		&.col-border {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: 5px;
				right: 0;
				width: 1px;
				height: calc(100% - 15px);
				border-right: 1px solid var(--tj-color-border-1);

				@media #{$sm, $xs} {
					width: 100%;
					height: 1px;
					top: auto;
					bottom: -20px;
					border: 0;
					border-bottom: 1px solid var(--tj-color-border-1);
				}
			}
		}
	}
	.footer-col-4 {
		@media #{$lg} {
			margin-top: 40px;
			padding-inline-start: 0;
		}
		@media #{$md} {
			margin-top: 40px;
		}
		@media #{$sm, $xs} {
			max-width: 100%;
			margin-top: 40px;
			padding-inline-start: 0;
		}
	}
	.footer-contact-info {
		.contact-item {
			span {
				color: var(--tj-color-common-white);
			}
		}
	}
}

.tj-copyright-area-3 {
	.footer-logo {
		max-width: 132px;
		margin: 0 auto;
	}
}

/* !END: Theme Footer CSS */
