@use "../utilities" as *;

/**----------------------------------------
START: Theme Header CSS
----------------------------------------*/
.header-area {
	position: relative;
	z-index: 99;
	&.header-1 {
		border-bottom: 1px solid var(--tj-color-border-1);
		&.header-absolute {
			position: absolute;
			width: 100%;
		}
		.header-wrapper {
			padding: 0 48px;
			background-color: transparent;
			@media #{$xl} {
				padding: 0 18px;
			}
			@media #{$lg} {
				padding: 0 10px;
			}
			@media #{$md, $sm, $xs} {
				padding: 15px 0px;
			}
		}
	}
	&.header-2 {
		background-color: var(--tj-color-theme-bg);
		border: 0;
		border-radius: 20px;
		margin: 0 30px 20px;
		&.sticky {
			background-color: var(--tj-color-theme-bg);
			margin-top: 0;
			width: calc(100% - 60px);
			@media #{$xl, $lg} {
				width: calc(100% - 30px);
			}
			@media #{$md, $sm, $xs} {
				width: 100%;
				margin: 0;
				border-radius: 0 0 15px 15px;
			}
		}
		@media #{$xl, $lg, $md, $sm, $xs} {
			margin: 0 15px 15px;
		}
		@media #{$md, $sm, $xs} {
			border-radius: 15px;
		}
		.header-wrapper {
			padding: 0 8px;
			@media #{$md, $sm, $xs} {
				padding: 15px 0px;
			}
		}
	}
	&.header-4,
	&.header-3 {
		&.header-absolute {
			background-color: transparent;
			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% - 60px);
			margin: 0 30px;
			z-index: 999;
			@media #{$xxl, $xl, $lg, $md} {
				width: calc(100% - 30px);
				margin: 0 15px;
			}
			@media #{$sm, $xs} {
				width: 100%;
				margin: 0;
			}
		}
		.header-wrapper {
			padding: 0 18px;
			border-radius: 16px 16px 0 0;
			@media #{$lg} {
				padding: 0 10px;
			}
			@media #{$md, $sm, $xs} {
				padding: 15px 0px;
			}
		}
	}
	&.header-4 {
		&.header-absolute {
			top: 45px;
			@media #{$xl, $lg, $md} {
				top: 15px;
			}
			@media #{$sm, $xs} {
				top: 0;
			}
		}
	}
	&.header-duplicate {
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	&.sticky {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		-webkit-animation: sticky 0.9s;
		animation: sticky 0.9s;
		z-index: 999;
		-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
		opacity: 1;
		visibility: visible;
		background-color: var(--tj-color-theme-dark);
		border-bottom: 1px solid var(--tj-color-border-1);
		display: block;
		@media #{$sm, $xs} {
			width: 100%;
		}
	}
}
.header-top {
	background-color: var(--tj-color-theme-bg);
	padding: 0 48px;
	&-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		.topbar-text {
			color: var(--tj-color-common-white);
			padding: 15px 0;
			margin: 0;
			display: inline-flex;
			align-items: center;
			gap: 8px;
			i {
				color: var(--tj-color-theme-primary);
				font-size: 22px;
			}
			a {
				color: var(--tj-color-text-body);
				font-weight: var(--tj-fw-sbold);
				line-height: 1;
				display: inline-flex;
				align-items: center;
				&::after {
					content: "\e902";
					font-size: 10px;
					line-height: 1;
					font-family: "ainex-icons" !important;
					font-weight: var(--tj-fw-medium);
					display: inline-flex;
					color: currentColor;
					margin-left: 4px;
					margin-top: 3px;
				}
				&:hover {
					color: var(--tj-color-theme-primary);
				}
			}
		}
		.header-info {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			.info-item {
				display: inline-flex;
				align-items: center;
				gap: 8px;
				position: relative;
				padding: 0 21px;
				border-left: 1px solid var(--tj-color-border-1);
				line-height: 1;
				&:first-child {
					border: 0;
				}
				&:nth-child(2) {
					@media #{$md} {
						padding-right: 0;
					}
				}
				&:last-child {
					padding-right: 0;
					@media #{$md, $sm, $xs} {
						display: none;
					}
				}
				span {
					display: inline-flex;
					line-height: 1;
					font-size: 20px;
					color: var(--tj-color-theme-primary);
				}
				a {
					color: var(--tj-color-common-white);
					&:hover {
						color: var(--tj-color-theme-primary);
					}
				}

				@media #{$sm, $xs} {
					border: 0;
					padding: 0 10px 10px 10px;
				}
			}
		}
		@media #{$sm, $xs} {
			justify-content: center;
		}
	}
	@media #{$xl} {
		padding: 0 18px;
	}
	@media #{$lg} {
		padding: 0 10px;
	}
	@media #{$md} {
		padding: 0px;
	}
	@media #{$sm, $xs} {
		display: none;
	}

	&.style-2 {
		background-color: var(--tj-color-theme-primary);
		padding: 0 18px;
		margin-bottom: 20px;
		border-radius: 0 0 16px 16px;
		@media #{$xxl, $xl, $lg, $md} {
			margin-bottom: 15px;
		}
		.header-top-content {
			.topbar-text {
				a,
				i {
					color: var(--tj-color-common-white);
				}
				a {
					color: var(--tj-color-common-white);
					&:hover {
						color: var(--tj-color-theme-dark);
					}
				}
			}
			.header-info {
				.info-item {
					border-color: rgba(255, 255, 255, 0.5);
					span {
						color: var(--tj-color-common-white);
					}
					a {
						color: var(--tj-color-common-white);
						&:hover {
							color: var(--tj-color-theme-dark);
						}
					}
				}
			}
		}
		@media #{$lg} {
			padding: 0 10px;
		}
		@media #{$md} {
			padding: 0px;
		}
	}
}

.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 99;
	position: relative;
	@media #{$md, $sm, $xs} {
		padding: 15px 0;
	}
}

.site_logo {
	.logo {
		display: inline-block;
		max-width: 160px;
		width: 100%;
	}
}
.menu-area {
	gap: 25px;
}
.mainmenu {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		column-gap: 35px;
		> li {
			position: relative;
			z-index: 1;
			> a {
				position: relative;
				font-size: 16px;
				color: var(--tj-color-text-body);
				display: block;
				padding: 37px 0;
				font-weight: var(--tj-fw-medium);
				line-height: 1;
			}
			&.menu-item-has-children,
			&.has-dropdown {
				> a {
					padding-right: 15px;
					&::after {
						content: "\e903";
						font-family: "ainex-icons";
						color: inherit;
						font-size: 8px;
						position: absolute;
						top: 41px;
						right: 0;
					}
				}
				&:hover {
					> a {
						&::after {
							transform: rotate(-180deg);
						}
					}
				}
			}
			&.current-menu-ancestor,
			&.current-menu-item,
			&:hover {
				a {
					color: var(--tj-color-theme-primary);
					&::after {
						color: var(--tj-color-theme-primary);
					}
					&::before {
						opacity: 1;
						visibility: visible;
					}
				}
			}
			> .sub-menu {
				display: block;
				position: absolute;
				top: 100%;
				left: 0;
				width: 220px;
				top: 100%;
				left: 0;
				z-index: 99;
				text-align: left;
				background-color: var(--tj-color-theme-bg);
				box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
				border: 1px solid var(--tj-color-border-1);
				border-radius: 10px;
				transform: scaleY(0);
				transform-origin: top;
				opacity: 0;
				visibility: hidden;
				gap: 0;
				padding: 10px 0;
				pointer-events: none;
				transition: 0.4s;
				> li {
					display: block;
					width: 100%;
					> a {
						position: relative;
						padding: 10px 20px;
						display: block;
						color: var(--tj-color-text-body);
						&::before {
							display: none;
						}
					}
					&:last-child {
						padding-bottom: 0;
					}
					&.menu-item-has-children,
					&.has-dropdown {
						> a {
							&::after {
								top: 15px;
								right: 15px;
								color: var(--tj-color-text-body);
								transform: rotate(-90deg);
							}
						}
					}
					&.current-menu-ancestor,
					&.current-menu-item,
					&:hover {
						> a {
							color: var(--tj-color-theme-primary);
							&::before {
								opacity: 1;
								visibility: visible;
								width: 14px;
							}
							&::after {
								color: var(--tj-color-theme-primary);
							}
						}
					}

					> .sub-menu {
						left: 100%;
						top: -10px;
					}
				}
			}
			&:hover {
				> .sub-menu {
					opacity: 1;
					visibility: visible;
					transform: scaleY(1);
					transition: all 0.5s ease;
					pointer-events: inherit;
				}
			}
		}
		@media #{$xl} {
			gap: 25px;
		}
		@media #{$lg} {
			gap: 16px;
		}
	}
}

.header-search {
	line-height: 1;
	position: relative;
	.search {
		color: var(--tj-color-text-body);
		font-size: 16px;
		font-weight: var(--tj-fw-medium);
		line-height: 1;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 4px;
		i {
			font-size: 26px;
			line-height: 1;
			display: inline-flex;
			@media #{$lg} {
				font-size: 24px;
			}
		}
		&.search-hide {
			opacity: 0;
			visibility: hidden;
			transform: scale(0.5);
		}
		&:hover {
			i {
				color: var(--tj-color-theme-primary);
				animation: bellshake 1.5s ease;
			}
		}
	}
}

.header-right-item {
	display: flex;
	align-items: center;
	gap: 25px;
	@media #{$lg} {
		gap: 12px;
	}
}

.menu_bar {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 6px;
	width: 25px;
	height: 25px;
	position: relative;
	top: 0;
	left: 0;
	margin-left: 5px;
	cursor: pointer;
	@include transition(all 0.3s ease-in-out 0s);

		span {
			display: block;
			width: 18px;
			height: 2px;
			background-color: var(--color-section-bg);
		margin-right: auto;
		backface-visibility: hidden;
		transition: all 0.3s;

		&:last-child,
		&:first-child {
			width: 25px;
		}
	}
	&.mobile_menu_bar {
		width: 50px;
		height: 50px;
		padding: 12px;
		background: var(--tj-color-theme-primary);
		border-radius: 7px;
		span {
			background-color: var(--color-section-bg);
		}
	}

	&:hover {
		span {
			width: 100%;
		}
	}
	@media #{$lg} {
		margin-left: 0;
	}
	&.menu_offcanvas {
		width: 60px;
		gap: 12px;
		span {
			width: 60px;
		}
		&:hover {
			span {
				animation: linehover 0.6s linear;
				&:last-child {
					animation-delay: 0.12s;
				}
			}
		}
	}
}

// Header 2
.header-2 {
	&.header-absolute {
		.mainmenu {
			> ul {
				> li {
					> a {
						color: var(--tj-color-common-white);
						padding-top: 32px;
						padding-bottom: 32px;
					}
					&.menu-item-has-children,
					&.has-dropdown {
						> a {
							&::after {
								color: currentColor;
								top: 35px;
							}
						}
					}
					&:hover,
					&.current-menu-ancestor {
						> a {
							color: var(--tj-color-common-white);
							&::after {
								color: currentColor;
							}
						}
					}
				}
			}
		}
		.menu_bar {
			span {
				background-color: var(--color-section-bg);
			}
		}
	}
}

// Header 3
.header-3 {
	&.header-absolute {
		.menu-area {
			background-color: var(--tj-color-theme-dark);
			padding: 0 36px;
			border-radius: 0 0 24px 24px;
			border: 1px solid var(--tj-color-border-1);
			border-top-color: transparent;
			position: relative;
				&::before,
				&::after {
					content: "";
					position: absolute;
					background-color: transparent;
					top: 0;
					left: -48px;
					width: 48px;
					height: 24px;
					box-shadow: 24px 0 0 0 var(--tj-color-theme-dark);
					border-radius: 0 24px 0 0;
					border-top: 1px solid var(--tj-color-border-1);
					border-right: 1px solid var(--tj-color-border-1);
				@media #{$md, $sm, $xs} {
					border-radius: 0 16px 0 0;
				}
			}
			&::after {
				left: auto;
				right: -48px;
				transform: scaleX(-1);
			}
			@media #{$lg} {
				padding: 0 25px;
			}
		}
		.mainmenu {
			> ul {
				> li {
					> a {
						padding-top: 25px;
						padding-bottom: 25px;
					}
					&.menu-item-has-children,
					&.has-dropdown {
						> a {
							&::after {
								color: currentColor;
								top: 29px;
							}
						}
					}
				}
			}
		}
	}
	.header-search {
		.search {
			color: var(--tj-color-common-white);
		}
	}
}

// Header 4
.header-4 {
	&.header-absolute {
		.menu-area {
			margin-inline-end: 220px;
			@media #{$xl} {
				margin-inline-end: 50px;
			}
			@media #{$lg} {
				margin-inline-end: 0;
			}
		}
		.mainmenu {
			> ul {
				> li {
					> a {
						color: var(--tj-color-common-white);
						padding-top: 25px;
						padding-bottom: 25px;
					}
					&.menu-item-has-children,
					&.has-dropdown {
						> a {
							&::after {
								color: currentColor;
								top: 29px;
							}
						}
					}
					&.current-menu-ancestor,
					&.current-menu-item,
					&:hover {
						> a {
							color: var(--tj-color-theme-primary);
							&::after {
								color: var(--tj-color-theme-primary);
							}
						}
					}
				}
			}
		}
	}
	.header-search {
		.search {
			color: var(--tj-color-common-white);
		}
	}
	.header-button {
		@media #{$lg} {
			display: none;
		}
	}
}

/* !END: Theme Header CSS */
