@use "../utilities" as *;

/**----------------------------------------
START: About CSS
----------------------------------------*/
.tj-about-section {
	padding: 60px 0;
	border-top: 1px solid var(--tj-color-border-1);
	border-bottom: 1px solid var(--tj-color-border-1);
}
.about-img {
	width: 100%;
	height: 100%;
	position: relative;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 12px;
	}
}

.about-content-area {
	max-width: 805px;
	margin-inline-start: auto;
	margin-top: 8px;
	.sec-heading {
		margin-bottom: 40px;
		.sub-title {
			margin-bottom: 30px;
		}
		.sec-title {
			img {
				border-radius: 56px;
				height: 54px;
				position: relative;
				top: -3px;
				@media #{$lg} {
					height: 45px;
				}
				@media #{$md, $sm} {
					height: 40px;
				}
				@media #{$xs} {
					height: 30px;
				}
			}
			@media #{$lg,$md, $sm, $xs} {
				line-height: 1.2;
			}
		}
	}

	@media #{$xl, $lg} {
		padding-left: 20px;
	}
	@media #{$md, $sm, $xs} {
		margin-bottom: 40px;
	}

	&.style-2 {
		max-width: 645px;
		margin-top: 0;
		margin-bottom: 35px;
		padding-top: 115px;
		.sec-heading {
			.sub-title {
				margin-bottom: 27px;
			}
		}
		@media #{$xl} {
			max-width: 590px;
			padding-top: 90px;
		}
		@media #{$lg} {
			max-width: 480px;
			padding-top: 90px;
		}
		@media #{$md, $sm, $xs} {
			max-width: 100%;
			padding-top: 70px;
			margin-bottom: 50px;
		}
	}

	&.style-3 {
		margin-top: 0;
		.sec-heading {
			margin-bottom: 25px;
		}
		.about-img {
			max-width: 492px;
			margin-inline-start: auto;
		}
	}
}
.about-bottom-area {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 88px;
	position: relative;
	.list-style-1 {
		max-width: 200px;
	}
	@media #{$xs} {
		justify-content: space-between;
		gap: 30px;
	}
	&-2 {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		position: relative;
		@media #{$sm, $xs} {
			gap: 20px;
		}
	}
	&-3 {
		display: flex;
		align-items: center;
		border-top: 1px solid var(--tj-color-border-1);
		border-bottom: 1px solid var(--tj-color-border-1);
		padding: 35px 0;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 39%;
			transform: translateY(-50%);
			width: 1px;
			height: 275px;
			background-color: var(--tj-color-border-1);
			@media #{$lg} {
				left: 40%;
			}
			@media #{$sm,$xs} {
				display: none;
			}
		}
		.experience-wrap {
			width: 39%;
			@media #{$lg} {
				width: 40%;
			}
			@media #{$sm,$xs} {
				width: 100%;
				display: flex;
				align-items: end;
			}
		}
		.about-content {
			max-width: 385px;
			width: 100%;
			padding-inline-start: 60px;
			.desc {
				margin-bottom: 20px;
			}
			.tj-primary-btn {
				margin-top: 26px;
			}
			@media #{$xl} {
				padding-inline-start: 50px;
			}
			@media #{$lg} {
				max-width: 300px;
				padding-inline-start: 40px;
			}
			@media #{$sm,$xs} {
				max-width: 100%;
				padding: 30px 0 0 0;
				border-top: 1px solid var(--tj-color-border-1);
			}
		}
		@media #{$sm, $xs} {
			flex-direction: column;
			gap: 35px;
		}
	}
}

.list-style-1 {
	list-style: none;
	li {
		position: relative;
		font-family: var(--tj-ff-heading);
		font-weight: var(--tj-fw-medium);
		padding-left: 22px;
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 0;
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 4px;
			width: 14px;
			height: 14px;
			border-radius: 50%;
			border: 2px solid var(--tj-color-theme-primary);
		}
		&::after {
			content: "";
			position: absolute;
			left: 5px;
			top: 9px;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: var(--tj-color-theme-primary);
		}
	}
}
.about-btn {
	width: 162px;
	height: 162px;
	border-radius: 50%;
	color: var(--tj-color-common-white);
	font-weight: var(--tj-fw-sbold);
	background-color: var(--tj-color-theme-primary);
	position: relative;
	z-index: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.3s;
	.text-wrap {
		display: inline-flex;
	}
	.btn-text {
		color: var(--tj-color-common-white);
		max-width: 87px;
	}
	.btn-icon {
		color: var(--tj-color-common-white);
		font-size: 22px;
		overflow: hidden;
		span {
			display: inline-flex;
			line-height: 1;
			transform: rotate(-45deg) translateX(0);
			text-shadow: -25px 0 0;
			i {
				display: inline-flex;
				line-height: 1;
			}
		}
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0.4;
		mix-blend-mode: luminosity;
	}
	&:hover {
		.btn-icon {
			span {
				transform: rotate(-45deg) translateX(25px);
			}
		}
	}
}

.video-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	.video-icon {
		color: var(--tj-color-theme-dark);
		background: var(--color-section-bg);
		border: 1px solid rgba(255, 255, 255, 0.1);
		font-size: 15px;
		line-height: 1;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		i {
			margin-left: 2px;
		}
	}
	.video-text {
		color: var(--tj-color-text-body);
		font-size: 16px;
		font-family: var(--tj-ff-heading);
		font-weight: var(--tj-fw-medium);
		letter-spacing: -0.03em;
	}
	&:hover {
		color: var(--tj-color-common-white);
	}
}

// About 2
.about-wrapper {
	background-color: var(--tj-color-theme-bg);
	border-radius: 24px;
	overflow: hidden;
	@media #{$md, $sm, $xs} {
		border-radius: 16px;
	}
}
.about-area {
	position: relative;
	z-index: 1;
}
.about-img-area {
	width: 47.5%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 20px 20px 0;
	background-color: var(--tj-color-theme-dark);
	border-radius: 0 0 24px 0;
	&::after,
	&::before {
		content: "";
		position: absolute;
		background-color: transparent;
		top: 0px;
		right: -50px;
		width: 50px;
		height: 24px;
		box-shadow: 24px 0 0 0 var(--tj-color-theme-dark);
		border-top-right-radius: 24px;
		z-index: -1;
		transform: scaleX(-1);
		@media #{$md, $sm, $xs} {
			border-radius: 0 16px 0 0;
		}
	}
	&::after {
		top: auto;
		right: auto;
		bottom: -24px;
		left: 0;
	}
	.about-img {
		img {
			border-radius: 20px;
			@media #{$md, $sm, $xs} {
				border-radius: 14px;
			}
		}
	}
	@media #{$xl} {
		width: 45.5%;
	}
	@media #{$md, $sm, $xs} {
		position: relative;
		width: 90%;
		padding: 20px 20px 20px 0;
		border-radius: 0 16px 16px 0;
		&::before {
			top: -24px;
			left: 0;
			border-top-right-radius: 24px;
			transform: scale(-1);
		}
	}
}
.company-logo {
	width: 195px;
	height: 195px;
	background-color: var(--tj-color-theme-primary);
	border-radius: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;
	img {
		max-width: 160px;
		max-height: 160px;
		width: auto;
		height: auto;
		@media #{$xl, $lg, $md} {
			max-width: 145px;
			max-height: 145px;
		}
		@media #{$sm, $xs} {
			max-width: 125px;
			max-height: 125px;
		}
	}
	@media #{$xl} {
		width: 180px;
		height: 180px;
	}
	@media #{$lg, $md} {
		width: 160px;
		height: 160px;
	}
	@media #{$sm, $xs} {
		width: 140px;
		height: 140px;
	}
}

.mission-vision {
	&-wrap {
		flex: 1;
		@media #{$lg, $sm, $xs} {
			flex-basis: 100%;
		}
	}
	&-box {
		background-color: var(--tj-color-theme-dark);
		border-radius: 12px;
		padding: 24px 30px;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
		.title {
			font-weight: var(--tj-fw-sbold);
			margin-bottom: 18px;
			@media #{$sm, $xs} {
				margin-bottom: 15px;
			}
		}
		.desc {
			&:last-child {
				margin-bottom: 0;
			}
		}
		@media #{$sm, $xs} {
			padding: 24px 20px;
		}
	}
}

.about-content-area-2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 85px;
	.about-content {
		max-width: 550px;
		margin-left: auto;
		@media #{$lg, $md} {
			max-width: 440px;
		}
		@media #{$md} {
			margin-left: 0;
		}
		@media #{$sm, $xs} {
			width: calc(100% - 130px);
			margin-left: 0;
		}
	}
	.sec-heading {
		margin-bottom: 27px;
	}
	.video-img {
		max-width: 120px;
		&::before {
			opacity: 0.15;
		}
		@media #{$lg, $sm, $xs} {
			max-width: 100px;
		}
	}
	.video-btn {
		&:hover {
			transform: translate(-50%, -50%) scale(0.9);
		}
	}
	@media #{$xl, $lg} {
		gap: 35px;
	}
	@media #{$sm, $xs} {
		gap: 20px;
	}
}

// About 3
.experience {
	&-year {
		color: var(--tj-color-theme-primary);
		font-size: 254px;
		line-height: 0.8;
		letter-spacing: -0.03em;
		font-family: var(--tj-ff-heading);
		font-weight: var(--tj-fw-regular);
		margin-bottom: 25px;
		sup {
			font-size: 0.189em;
			vertical-align: top;
			top: 0.35em;
		}
		@media #{$xl} {
			font-size: 230px;
		}
		@media #{$lg} {
			font-size: 190px;
		}
		@media #{$sm,$xs} {
			font-size: 170px;
			margin-bottom: 0;
		}
	}
	&-text {
		max-width: 160px;
		width: 100%;
		font-size: 16px;
		line-height: 1.375;
		color: var(--tj-color-text-body);
		margin-bottom: 0;
	}
}
.about-img-area-2 {
	position: relative;
	height: 100%;
	@media #{$md} {
		height: 450px;
	}
	.about-img {
		max-width: 492px;
		margin-inline-start: auto;
		@media #{$md,$sm,$xs} {
			max-width: 100%;
		}
	}
	.video-wrap {
		background-color: var(--tj-color-theme-dark);
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 16px 0 0 16px;
		border-radius: 12px 0 0 0;
		z-index: 1;
		&::before,
		&::after {
			content: "";
			position: absolute;
			background-color: transparent;
			top: -25px;
			right: 0;
			width: 12px;
			height: 25px;
			box-shadow: 0 12px 0 0 var(--tj-color-theme-dark);
			border-bottom-right-radius: 12px;
			z-index: -1;
			pointer-events: none;
		}
		&::after {
			top: auto;
			right: auto;
			bottom: 0;
			left: -12px;
		}
	}
	.video-btn {
		background-color: var(--tj-color-theme-bg);
		border-radius: 10px;
		flex-direction: column;
		justify-content: space-between;
		padding: 20px 15px;
		.video-icon {
			animation: pulse3 2s linear infinite;
			@media #{$md,$sm,$xs} {
				width: 50px;
				height: 50px;
			}
		}
		.video-text {
			height: 105px;
			-webkit-writing-mode: sideways-lr;
			writing-mode: sideways-lr;
			@media #{$md} {
				width: 105px;
				height: auto;
				-webkit-writing-mode: inherit;
				writing-mode: inherit;
			}
		}
		&:hover {
			.video-icon {
				background-color: var(--tj-color-theme-primary);
				color: var(--tj-color-common-white);
			}
		}
		@media #{$md} {
			flex-direction: row-reverse;
		}
	}
}

/* !END: About CSS */
