@use "../utilities" as *;

/**----------------------------------------
START: Blog CSS
----------------------------------------*/
.tj-blog-section {
	&-2 {
		.sec-heading {
			max-width: 450px;
		}
	}
}

.blog-item {
	height: 100%;
	background-color: var(--tj-color-theme-bg);
	padding: 15px;
	border-radius: 12px;
	position: relative;
	overflow: hidden;
	.categories {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0 10px 10px 0;
		background-color: var(--tj-color-theme-bg);
		border-bottom-right-radius: 12px;
		z-index: 2;
	}
	.blog-thumb {
		height: 340px;
		overflow: hidden;
		position: relative;
		border-radius: 0 12px 12px 12px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include transition(all 0.4s linear 0s);
		}
		@media #{$xl, $lg, $sm} {
			height: 300px;
		}
		@media #{$md, $xs} {
			height: 280px;
		}
	}
	.blog-content {
		padding: 25px 5px 13px 5px;
		.title {
			margin: 0;
			a {
				&:hover {
					color: var(--tj-color-theme-primary);
				}
			}
		}
		.desc {
			margin-top: 15px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		.text-btn {
			background-color: var(--tj-color-theme-dark);
			margin-top: 15px;
			padding: 16px 16px 16px 20px;
			position: absolute;
			left: 0;
			bottom: 0;
			border-radius: 0 12px 0 0;

			&::after,
			&::before {
				content: "";
				position: absolute;
				background-color: transparent;
				top: -25px;
				left: 0;
				width: 12px;
				height: 25px;
				box-shadow: 0 12px 0 0 var(--tj-color-theme-dark);
				border-bottom-right-radius: 12px;
				z-index: -1;
				transform: scaleX(-1);
				pointer-events: none;
			}
			&::after {
				top: auto;
				left: auto;
				bottom: 0;
				right: -12px;
			}
		}
	}
	&:hover {
		.blog-thumb {
			img {
				transform: scale(1.1);
			}
		}
	}

	&.style-2 {
		.blog-thumb {
			height: 290px;
			border-radius: 12px 12px 0 12px;
		}
		.categories {
			top: auto;
			left: auto;
			right: 0;
			bottom: 0;
			padding: 10px 0 0 10px;
			border-radius: 12px 0 0 0;

			&::after,
			&::before {
				top: -25px;
				right: 0;
				width: 12px;
				height: 25px;
				box-shadow: 0 12px 0 0 var(--tj-color-theme-bg);
				border-radius: 0 0 12px 0;
				transform: scaleX(1);
			}
			&::after {
				top: auto;
				right: auto;
				bottom: 0;
				left: -12px;
			}
		}
		.blog-content {
			padding: 25px 5px 65px 5px;
			.title {
				margin-bottom: 20px;
			}
		}
	}

	&.style-3 {
		.categories {
			a {
				&:not(:hover) {
					background-color: transparent;
				}
			}
		}
		.blog-content {
			padding: 25px 5px 45px 5px;
			.text-btn {
				left: auto;
				right: 0;
				border-radius: 12px 0 0 0;
				&::after,
				&::before {
					left: auto;
					right: 0;
					transform: none;
				}
				&::after {
					top: auto;
					right: auto;
					bottom: 0;
					left: -12px;
				}
			}
		}
	}

	&.style-4 {
		padding: 0;
		.blog-thumb {
			min-height: 530px;
			@media #{$md} {
				min-height: 480px;
			}
			@media #{$xs} {
				min-height: 400px;
			}
		}
		.blog-content {
			background-color: var(--tj-color-theme-dark);
			padding: 30px 20px 25px 20px;
			border-radius: 10px;
			position: absolute;
			bottom: 0;
			left: 0;
			margin: 15px;
			@include transition(all 0.3s ease-in-out 0s);
			.text-btn {
				left: auto;
				bottom: 0;
				padding: 0;
				border-radius: 0;
				opacity: 0;
				visibility: hidden;
				&::after,
				&::before {
					display: none;
				}
			}
		}
		&:hover {
			.blog-content {
				padding-bottom: 80px;
				.text-btn {
					opacity: 1;
					visibility: visible;
					bottom: 30px;
				}
			}
		}
	}
}

.blog-meta {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
	span {
		color: var(--tj-color-text-body);
		line-height: 1;
		a {
			color: var(--tj-color-text-body);
			&:hover {
				color: var(--tj-color-theme-primary);
			}
		}

		&:not(:last-child) {
			&::after {
				content: "";
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: var(--tj-color-theme-primary);
				display: inline-block;
				margin: 0 0 2px 10px;
			}
		}
	}
	@media #{$xs} {
		margin-bottom: 15px;
	}
}

.blog-post-wrapper {
	.blog-item {
		margin-bottom: 40px;
		.blog-thumb {
			border-radius: 12px;
		}
		.blog-content {
			background-color: transparent;
			padding: 25px 0 0 0;
		}
	}
}

// pagination css
.tj-pagination {
	margin-top: 50px;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 10px;
		li {
			.page-numbers {
				display: inline-block;
				width: 48px;
				height: 48px;
				border-radius: 50%;
				line-height: 48px;
				text-align: center;
				background-color: var(--tj-color-theme-bg);
				font-weight: var(--tj-fw-sbold);
				color: var(--tj-color-heading-primary);
				i {
					line-height: 1;
					color: var(--tj-color-heading-primary);
				}
				&:hover {
					background-color: var(--tj-color-theme-primary);
					i {
						color: var(--tj-color-common-white);
					}
				}
				&.current {
					background-color: var(--color-section-bg);
					color: var(--tj-color-theme-dark);
					i {
						color: var(--tj-color-theme-dark);
					}
				}
				&.prev,
				&.next {
					font-size: 18px;
				}
			}
		}
	}
}

.tj-post {
	&-item {
		height: 100%;
		background-color: var(--tj-color-theme-bg);
		padding: 15px;
		border-radius: 12px;
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
		.categories {
			position: absolute;
			top: 0;
			left: 0;
			padding: 0 10px 10px 0;
			background-color: var(--tj-color-theme-bg);
			border-bottom-right-radius: 12px;
			z-index: 2;
		}
		&:hover {
			.tj-post-thumb {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
	&-thumb {
		height: 410px;
		overflow: hidden;
		position: relative;
		border-radius: 0 12px 12px 12px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include transition(all 0.4s linear 0s);
		}
		@media #{$lg} {
			height: 350px;
		}
		@media #{$sm, $xs} {
			height: 300px;
		}
	}
	&-content {
		padding: 25px 15px 13px 15px;
		.title {
			margin: 0;
			a {
				&:hover {
					color: var(--tj-color-theme-primary);
				}
			}
		}
		.desc {
			margin-top: 15px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	&-meta {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 10px;
		margin-bottom: 15px;
		span {
			color: var(--tj-color-text-body);
			line-height: 1;
			a {
				color: var(--tj-color-text-body);
				&:hover {
					color: var(--tj-color-theme-primary);
				}
			}

			&:not(:last-child) {
				&::after {
					content: "";
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background-color: var(--tj-color-theme-primary);
					display: inline-block;
					margin: 0 0 2px 10px;
				}
			}
		}
		@media #{$xs} {
			margin-bottom: 15px;
		}
	}
	&-btn {
		margin-top: 25px;
	}
}

/* !END: Blog CSS */
