@use "../utilities" as *;

/**----------------------------------------
START: Choose CSS
----------------------------------------*/
.tj-choose-section {
	.sec-heading {
		.sec-title {
			margin-bottom: 20px;
		}
		.desc {
			max-width: 430px;
			margin-inline-start: auto;
			margin-inline-end: auto;
		}
	}
	&-2 {
		.sec-heading {
			max-width: 1000px;
		}
		.marquee-area {
			padding-top: 90px;
			padding-bottom: 0;
			@media #{$md, $sm, $xs} {
				padding-top: 60px;
			}
		}
	}
}
.choose-heading {
	.sub-title {
		margin-bottom: 30px;
	}
	.sec-title {
		@media #{$md, $sm, $xs} {
			line-height: 1.2;
		}
	}
	img {
		border-radius: 56px;
		height: 54px;
		position: relative;
		top: -3px;

		@media #{$lg} {
			height: 45px;
		}
		@media #{$md, $sm} {
			height: 40px;
		}
		@media #{$xs} {
			height: 30px;
		}
	}
}
.choose-box {
	border-radius: 12px;
	border-top-right-radius: 0;
	background-color: var(--tj-color-theme-bg);
	overflow: hidden;
	padding: 2px;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		background-image: linear-gradient(
			to bottom,
			rgb(47, 107, 255),
			rgba(47, 107, 255, 0)
		);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		@include transition(all 0.3s ease-in-out 0s);
	}
	.count-icon {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		background-color: var(--tj-color-theme-dark);
		border-bottom-left-radius: 12px;
		color: var(--tj-color-theme-primary);
		z-index: 2;
		border-left: 2px solid transparent;
		border-bottom: 2px solid transparent;
		@include transition(all 0.3s ease-in-out 0s);
		&::after,
		&::before {
			content: "";
			position: absolute;
			background-color: transparent;
			top: 0px;
			left: -25px;
			width: 25px;
			height: 12px;
			box-shadow: 12px 0 0 0 var(--tj-color-theme-dark);
			border-top-right-radius: 12px;
			z-index: -1;
			border-top: 2px solid transparent;
			border-right: 2px solid transparent;
			@include transition(all 0.3s ease-in-out 0s);
		}
		&::after {
			top: auto;
			left: auto;
			bottom: -12px;
			right: 0;
		}
	}
	&:hover {
		&::before {
			opacity: 1;
			visibility: visible;
		}
		.count-icon {
			border-left-color: var(--tj-color-theme-primary);
			border-bottom-color: var(--tj-color-theme-primary);
			&::before,
			&::after {
				border-top-color: var(--tj-color-theme-primary);
				border-right-color: var(--tj-color-theme-primary);
			}
		}
	}
	.choose-inner {
		height: 100%;
		padding: 42px 28px;
		background-color: var(--tj-color-theme-bg);
		border-radius: 12px;
		position: relative;
		z-index: 1;
		@include transition(all 0.3s ease-in-out 0s);
		@media #{$xl, $lg, $md} {
			padding: 38px 20px;
		}
		@media #{$sm, $xs} {
			padding: 30px 15px;
		}
	}
	.choose-icon {
		color: var(--tj-color-theme-primary);
		font-size: 50px;
		line-height: 1;
		width: 72px;
		height: 72px;
		background-color: var(--tj-color-theme-dark);
		border-radius: 50%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;
		@include transition(all 0.3s ease-in-out 0s);
		i {
			line-height: 1;
			display: inline-flex;
		}
		@media #{$md, $sm, $xs} {
			margin-bottom: 20px;
		}
	}
	.title {
		max-width: 180px;
		margin-bottom: 20px;
		@media #{$sm, $xs} {
			max-width: 100%;
			font-size: 18px;
			margin-bottom: 15px;
		}
	}
	.desc {
		margin-bottom: 0;
	}
	&:hover {
		.choose-icon {
			background-color: var(--tj-color-theme-primary);
			color: var(--tj-color-common-white);
			transform: rotateY(360deg);
		}
	}
	&.style-2 {
		&::before {
			background: var(--tj-color-theme-primary);
			box-shadow: 0 0 15px var(--tj-color-theme-primary);
		}
		&:hover {
			.desc {
				color: var(--tj-color-common-white);
			}
		}
	}
}
.choose-author {
	margin-top: 25px;
	.title {
		line-height: 1;
		margin-bottom: 6px;
	}
	.designation {
		font-size: 14px;
	}
}

/* !END: Choose CSS */
