@use "../utilities" as *;

/**----------------------------------------
START: Services CSS
----------------------------------------*/
.h5-service {
	&-item {
		background-color: var(--tj-color-theme-dark);
		border-radius: 12px;
		position: relative;
		min-height: 183px;
		margin-bottom: 15px;
		overflow: hidden;
		@include transition(all 0.5s ease-in-out 0s);
		&:last-child {
			margin-bottom: 0;
		}
		.item-count {
			color: var(--tj-color-grey-2);
			font-size: 16px;
			line-height: 1;
			font-family: var(--tj-ff-heading);
			font-weight: var(--tj-fw-medium);
			display: inline-flex;
		}
		.title {
			margin-top: 75px;
			margin-bottom: 0;
			@include transition(all 0.5s ease-in-out 0s);
			a {
				&:hover {
					color: var(--tj-color-theme-primary);
				}
			}
			@media #{$md, $sm, $xs} {
				margin-top: 20px;
			}
		}
		.desc {
			margin-top: 30px;
			margin-bottom: 0;
			opacity: 0;
			visibility: hidden;
			@include transition(all 0.3s ease-in-out 0s);
			@media #{$md, $sm, $xs} {
				transform: scale(1);
				opacity: 1;
				visibility: visible;
				margin-top: 18px;
			}
		}
		.icon-btn {
			position: absolute;
			top: 30px;
			right: 30px;

			@media #{$md, $sm, $xs} {
				position: static;
				margin: 15px;
			}
		}
		.sub-cat {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
			position: absolute;
			bottom: 30px;
			right: 30px;
			span {
				font-size: 16px;
				line-height: 1;
				font-weight: var(--tj-fw-sbold);
				border: 1px solid var(--tj-color-border-1);
				border-radius: 20px;
				padding: 5px 10px;
				a {
					display: block;
					color: inherit;
					&:hover {
						color: var(--tj-color-theme-primary);
					}
				}
			}

			@media #{$md, $sm, $xs} {
				position: static;
				padding: 15px 15px 30px;
			}
		}
		&:hover {
			min-height: 360px;
			.h5-service-img {
				transform: scale(1);
				opacity: 1;
				visibility: visible;
				position: relative;
				transition-delay: 0.1s;
			}
			.h5-service-content {
				padding-top: 30px;
				transform: translateX(345px);
				transition-delay: 0s;

				@media #{$md, $sm, $xs} {
					padding-top: 0;
					transform: translateX(0);
				}
			}
			.title {
				margin-top: 20px;
			}
			.desc {
				opacity: 1;
				visibility: visible;
				margin-top: 18px;
				transition-delay: 0.5s;
			}
			.icon-btn {
				background-color: var(--tj-color-theme-primary);
				border-color: var(--tj-color-theme-primary);
			}
		}

		@media #{$md, $sm, $xs} {
			min-height: 100%;
		}
	}
	&-left {
		display: flex;
		flex-wrap: wrap;
		height: 0;
		@media #{$md, $sm, $xs} {
			height: auto;
		}
	}
	&-img {
		max-width: 330px;
		width: 100%;
		height: 330px;
		overflow: hidden;
		border-radius: 12px;
		position: absolute;
		top: 0;
		left: 0;
		margin: 15px 0 15px 15px;
		transform: scale(0.1);
		opacity: 0;
		visibility: hidden;
		@include transition(all 0.5s ease-in-out 0s);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media #{$md, $sm, $xs} {
			max-width: 100%;
			margin: 15px;
			transform: scale(1);
			opacity: 1;
			visibility: visible;
			position: relative;
		}
	}
	&-content {
		max-width: 400px;
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 30px 0 30px 30px;
		transform: translateX(0);
		position: absolute;
		top: 0;
		left: 0;
		@include transition(all 0.5s ease-in-out 0.1s);
		@media #{$md, $sm, $xs} {
			transform: scale(1);
			opacity: 1;
			visibility: visible;
			position: relative;
			margin: 30px 0 15px 15px;
		}
	}
}
.h5-bottom-btn {
	.btn-wrap {
		background-color: var(--tj-color-theme-dark);
		border-radius: 35px 35px 0 0;
		margin-bottom: -30px;
		padding: 15px;
		position: relative;

		&::after,
		&::before {
			content: "";
			position: absolute;
			background-color: transparent;
			top: 0;
			left: -24px;
			width: 24px;
			height: 50px;
			box-shadow: 0 12px 0 0 var(--tj-color-theme-dark);
			border-bottom-right-radius: 12px;
			z-index: -1;
			pointer-events: none;
		}
		&::after {
			left: auto;
			right: -24px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 12px;
		}
	}
}

/* !END: Services CSS */
