@use "../utilities" as *;

/**----------------------------------------
START: Blog CSS
----------------------------------------*/
.h5-blog-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(50% - 15px), 1fr));
	grid-gap: 30px;
	justify-content: center;
	.blog-item {
		&.style-5 {
			&:first-child {
				grid-row: 1/3;
				flex-direction: column;
				align-items: start;
				gap: 0;
				.blog-thumb {
					width: 100%;
					min-height: 385px;
					@media #{$sm, $xs} {
						min-height: 260px;
					}
				}
				.blog-content {
					width: 100%;
					padding: 30px 15px 15px;
					@media #{$sm, $xs} {
						padding: 30px 0 15px;
					}
				}
			}
		}
	}

	@media #{$lg, $md} {
		grid-template-columns: 696px;
	}
	@media #{$sm} {
		grid-template-columns: 516px;
	}
	@media #{$xs} {
		grid-template-columns: 100%;
	}
}
.blog-item {
	&.style-5 {
		display: flex;
		flex-wrap: wrap;
		.blog-thumb {
			width: 39%;
			height: 260px;
			border-radius: 12px;
			@media #{$sm, $xs} {
				width: 100%;
			}
		}
		.blog-content {
			padding: 35px 5px 35px 20px;
			width: 61%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			.text-btn {
				background-color: transparent;
				position: unset;
				padding: 0;
				border-radius: 0;
				margin-top: 22px;
				&::after,
				&::before {
					display: none;
				}
				.btn-text {
					color: var(--tj-color-text-body);
				}
				@media #{$sm, $xs} {
					margin-top: 16px;
				}
			}
			.blog-meta {
				margin-bottom: 20px;
				@media #{$sm, $xs} {
					margin-bottom: 16px;
				}
			}
			@media #{$sm, $xs} {
				width: 100%;
				padding: 30px 0 15px;
			}
		}
	}
}

/* !END: Blog CSS */
