@use "../utilities" as *;

/**----------------------------------------
START: Testimonial CSS
----------------------------------------*/
.h5-testimonial-wrapper {
	position: relative;
	margin: -15px;
	&:hover {
		.testimonial-navigation {
			opacity: 1;
			visibility: visible;
		}
	}
	@media #{$xs} {
		margin-right: -15px;
	}
}
.h5-testimonial {
	padding: 15px;
}
.testimonial {
	&-item {
		&.style-4 {
			background-color: var(--tj-color-theme-bg);
			border-radius: 12px;
			padding: 35px 30px;
			border: 2px solid var(--tj-color-theme-bg);
			position: relative;
			z-index: 3;
			@include transition(all 0.5s);
			@media #{$xs} {
				padding: 25px 20px;
			}
			.testimonial-author {
				border: 0;
				padding: 0 45px 26px 0;
				.author-img {
					width: 84px;
					height: 84px;
					border: 2px solid var(--color-section-bg);
					background-color: var(--color-section-bg);
					border-radius: 50%;
					@media #{$xl, $md} {
						width: 75px;
						height: 75px;
					}
					@media #{$lg, $sm, $xs} {
						width: 65px;
						height: 65px;
					}
					@media #{$sm, $xs} {
						width: 55px;
						height: 55px;
					}
				}
				.designation {
					font-size: 16px;
				}
			}
			.desc {
				font-size: 18px;
				color: var(--tj-color-text-body);
				opacity: 1;
				padding-bottom: 22px;
			}

			.rating-area {
				max-width: 133px;
				background-color: transparent;
				border-radius: 0;
				position: static;
				left: 0;
				bottom: 0;
				margin: 0;
				padding: 10px 0 0 0;
				z-index: 2;
				&::after,
				&::before {
					display: none;
				}
				.star-ratings {
					font-size: 18px;
					letter-spacing: 1.5px;
					display: inline-flex;
				}
			}
			&:hover {
				border-color: var(--tj-color-theme-primary);
				box-shadow: 0 0 15px 0 rgba(47, 107, 255, 0.7);
			}
		}
	}
}

.testimonial-navigation {
	position: absolute;
	top: 48%;
	transform: translateY(-50%);
	z-index: 5;
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	opacity: 0;
	visibility: hidden;
	@include transition(all 0.4s);

	.slider-prev {
		margin-top: -50px;
		margin-inline-start: -10px;
		@media #{$sm, $xs} {
			margin-inline-start: 0;
		}
	}
	.slider-next {
		margin-top: -50px;
		margin-inline-end: -10px;
		@media #{$sm, $xs} {
			margin-inline-end: 0;
		}
	}
}

/* !END: Testimonial CSS */
