@use "../utilities" as *;

/**----------------------------------------
START: Hero CSS
----------------------------------------*/

.h6-banner-area {
	position: relative;
	border-radius: 24px;
	overflow: hidden;
	.banner-content {
		max-width: 1100px;
		margin: 0 auto;
		text-align: center;
		padding: 90px 0 95px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.sub-title {
			display: inline-flex;
			align-items: center;
			gap: 4px;
			color: var(--tj-color-text-body);
			font-size: 15px;
			line-height: 1.4;
			font-weight: var(--tj-fw-sbold);
			text-transform: uppercase;
			letter-spacing: 0.1em;
			background-color: var(--tj-color-theme-dark);
			border-radius: 4px;
			padding: 4px 8px;
			margin-bottom: 15px;
			i {
				font-size: 20px;
				color: var(--tj-color-theme-primary);
				display: inline-flex;
				line-height: 1;
			}
		}
		.banner-title {
			margin-bottom: 15px;
			span {
				color: var(--tj-color-theme-primary);
				display: inline-block;
			}
		}
		.desc {
			max-width: 660px;
			font-size: 18px;
		}
		.banner-btn-area {
			display: inline-flex;
			gap: 15px;
			margin-top: 30px;
			@media #{$xs} {
				flex-wrap: wrap;
				justify-content: center;
			}
		}
		@media #{$lg} {
			max-width: 900px;
		}
		@media #{$md} {
			max-width: 700px;
		}
		@media #{$sm, $xs} {
			padding: 70px 15px;
		}
	}
	.h6-heor-bg {
		background-color: var(--tj-color-theme-dark);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-blend-mode: luminosity;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.3;
		z-index: -1;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--tj-color-theme-bg);
			opacity: 0.4;
		}
		&::after {
			content: "";
			position: absolute;
			top: -200px;
			right: -250px;
			width: 600px;
			height: 650px;
			border-radius: 50%;
			background: var(--tj-color-theme-primary);
			-webkit-filter: blur(100px);
			filter: blur(100px);
			backdrop-filter: blur(10px);
			opacity: 0.8;
			@media #{$xl, $lg} {
				top: -150px;
				right: -150px;
				width: 500px;
				height: 500px;
			}
			@media #{$md, $sm, $xs} {
				top: -100px;
				right: -150px;
				width: 400px;
				height: 400px;
			}
		}
	}
}
.h6-banner-bottom {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin-top: 30px;
	@media #{$lg, $md, $sm, $xs} {
		flex-wrap: wrap;
	}
	@media #{$xl, $lg} {
		gap: 20px;
		margin-top: 20px;
	}
	@media #{$md, $sm, $xs} {
		gap: 15px;
		margin-top: 15px;
	}
}
.h6-hero-countup {
	width: 20.8%;
	background-color: var(--tj-color-theme-bg);
	padding: 30px;
	border-radius: 12px;
	justify-content: space-between;
	.count-icon {
		background-color: var(--tj-color-theme-dark);
		width: 72px;
		height: 72px;
		border-radius: 50%;
		font-size: 42px;
		color: var(--tj-color-theme-primary);
		align-items: center;
		justify-content: center;
		margin-bottom: 40px;
	}
	.inline-content {
		@media #{$xxxl, $xxl, $xl} {
			font-size: 70px;
		}
	}
	.desc {
		margin: 0;
	}

	@media #{$xl} {
		padding: 30px 20px;
	}
	@media #{$lg, $md} {
		width: 48.9%;
		order: 1;
	}
	@media #{$sm, $xs} {
		width: 100%;
		padding: 20px;
		order: 1;
	}
}
.search-qst {
	&-area {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding: 50px 50px 0 50px;
		width: 55.4%;
		border-radius: 12px;
		position: relative;
		@media #{$xxxl, $xxl, $xl, $sm} {
			padding: 30px 30px 0 30px;
		}
		@media #{$lg, $md, $sm, $xs} {
			width: 100%;
			order: 3;
		}
		@media #{$xs} {
			padding: 15px 15px 0 15px;
		}
	}
	&-input {
		&-wrap {
			max-width: 924px;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			background-color: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(18px);
			border-radius: 12px 12px 0 0;
		}
		&-header {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			padding: 15px 20px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		}
		&-inner {
			padding: 67px 80px;
			.title {
				margin-bottom: 23px;
				@media #{$xs} {
					margin-bottom: 15px;
				}
			}
			@media #{$xl} {
				padding: 50px 60px;
			}
			@media #{$md, $sm} {
				padding: 50px 40px;
			}
			@media #{$xs} {
				padding: 40px 20px;
			}
		}
	}
	&-logo {
		max-width: 75px;
		width: 100%;
		display: inline-flex;
	}
	&-icons {
		display: inline-flex;
		justify-content: space-between;
		gap: 21px;
		max-width: 153px;
		width: 100%;
		span {
			font-size: 13px;
			line-height: 1;
			display: inline-flex;
			color: var(--tj-color-white-2);
		}
	}
	&-form {
		position: relative;
		padding: 3px;
		background-image: linear-gradient(84deg, var(--tj-color-theme-primary), var(--tj-color-theme-dark-2));
		border-radius: 16px;
		box-shadow: 0 0 40px rgba(62, 36, 135, 0.8);
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: linear-gradient(84deg, var(--tj-color-theme-primary) 0%, var(--tj-color-theme-dark-2) 100%);
			filter: blur(20px);
			opacity: 1;
			border-radius: inherit;
			z-index: -1;
		}

		input[type="search"],
		input[type="text"] {
			background-color: var(--tj-color-theme-dark);
			font-size: 30px;
			color: var(--tj-color-common-white);
			font-family: var(--tj-ff-heading);
			padding: 20px 90px 20px 97px;
			border-radius: 16px;
			@include placeholder {
				font-size: 30px;
				color: var(--tj-color-common-white);
				@media #{$xl, $md, $sm} {
					font-size: 25px;
				}
				@media #{$xs} {
					font-size: 20px;
				}
			}

			@media #{$xl, $md, $sm} {
				font-size: 25px;
				padding: 15px 85px 15px 80px;
			}
			@media #{$xs} {
				font-size: 20px;
				padding: 15px 65px 15px 60px;
				border-radius: 12px;
			}
		}
		.search-icon {
			position: absolute;
			top: 50%;
			left: 25px;
			font-size: 45px;
			color: var(--tj-color-common-white);
			transform: translateY(-50%);
			display: inline-flex;
			line-height: 1;
			@media #{$xl, $md, $sm} {
				font-size: 35px;
			}
			@media #{$xs} {
				font-size: 30px;
				left: 15px;
			}
		}
		button {
			position: absolute;
			width: 57px;
			height: 57px;
			top: 50%;
			right: 25px;
			font-size: 30px;
			color: var(--tj-color-common-white);
			transform: translateY(-50%);
			background-color: var(--tj-color-theme-bg);
			border-radius: 8px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			&:hover {
				background-color: var(--tj-color-theme-primary);
			}
			@media #{$xl, $md, $sm} {
				width: 50px;
				height: 50px;
				font-size: 25px;
			}
			@media #{$xs} {
				width: 45px;
				height: 45px;
				font-size: 20px;
				right: 15px;
			}
		}
		@media #{$xs} {
			box-shadow: 0 0 20px rgba(62, 36, 135, 0.8);
			border-radius: 12px;
			&::before {
				filter: blur(10px);
				opacity: 0.8;
			}
		}
	}
}
.h6-hero-services {
	width: 20.8%;
	background-color: var(--tj-color-theme-bg);
	border-radius: 12px;
	&-content {
		max-width: 270px;
		margin: 0 auto;
		padding: 30px 0 54px;
		text-align: center;
		.title {
			margin-bottom: 16px;
		}
		.desc {
			margin: 0;
		}
		@media #{$md, $sm, $xs} {
			padding: 20px 0 30px;
		}
	}
	.scroll-slider {
		--gap: 46px;
		padding-bottom: 40px;
		@media #{$xl, $lg, $md, $sm, $xs} {
			padding-bottom: 30px;
		}
		@media #{$xl, $xs} {
			--gap: 30px;
		}
	}
	.scroll-wrapper {
		animation: scroll 20s linear infinite;
	}
	@media #{$lg, $md} {
		width: 48.9%;
		order: 2;
	}
	@media #{$sm, $xs} {
		width: 100%;
		order: 2;
	}
}
.marquee-item-2 {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	@media #{$xl} {
		width: 100px;
		height: 100px;
	}
}

/* !END: Hero CSS */
