@use "../utilities" as *;

/**----------------------------------------
START: Home 6 About CSS
----------------------------------------*/
.h6-about-section {
	background-color: var(--tj-color-theme-bg);
	border-radius: 24px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		top: -20%;
		right: -10%;
		width: 700px;
		height: 600px;
		border-radius: 50%;
		background: var(--tj-color-theme-primary);
		-webkit-filter: blur(100px);
		filter: blur(100px);
		opacity: 0.2;
		z-index: 0;
		backdrop-filter: blur(10px);
		pointer-events: none;

		@media #{$lg, $md} {
			width: 500px;
			height: 500px;
		}
		@media #{$sm, $xs} {
			width: 450px;
			height: 380px;
		}
	}
}

.h6-about {
	&-area {
		display: flex;
		flex-wrap: wrap;
	}
	&-funfact {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 460px;
		width: 100%;
		margin-bottom: 60px;
		.countup-item {
			padding: 0;
			align-items: flex-start;
			&:not(:last-child) {
				padding-inline-end: 58px;
				border-right: 1px solid var(--tj-color-border-1);
				@media #{$lg} {
					padding-inline-end: 30px;
				}
			}
			&:not(:first-child) {
				padding-inline-start: 60px;
				position: relative;
				z-index: 0;
			}

			.count-text {
				max-width: 205px;
				font-size: 16px;
				font-family: var(--tj-ff-body);
				font-weight: normal;
				color: var(--tj-color-text-body);
			}
			.inline-content {
				font-size: 68px;
				color: var(--tj-color-heading-primary);
				margin-bottom: 15px;
				.odometer {
					color: var(--tj-color-heading-primary);
					.odometer-digit,
					span {
						color: var(--tj-color-heading-primary);
					}
				}
				@media #{$xs} {
					margin-bottom: 5px;
				}
			}
			@media #{$xs} {
				width: 100%;
				text-align: start;
				&:not(:last-child) {
					padding-inline-end: 0;
					padding-bottom: 30px;
					border-right: 0;
					border-bottom: 1px solid var(--tj-color-border-1);
				}
				&:not(:first-child) {
					padding-inline-start: 0;
					padding-top: 25px;
				}
			}
		}
		@media #{$xs} {
			max-width: 100%;
			margin-bottom: 35px;
		}
	}
}
.about-content-area {
	&.style-4 {
		max-width: 760px;
		margin-top: 0;
		.sec-heading {
			margin-bottom: 20px;
			.sub-title {
				background-color: var(--tj-color-theme-dark);
				margin-bottom: 20px;
			}
		}

		@media #{$xl} {
			max-width: 650px;
			padding-left: 0;
		}
	}
}
.about-bottom-area-4 {
	background-color: var(--tj-color-theme-dark);
	border-radius: 12px;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	gap: 78px;
	.about-content {
		max-width: 333px;
		.desc {
			margin-bottom: 20px;
		}

		@media #{$sm, $xs} {
			max-width: 100%;
		}
	}
	.tj-primary-btn {
		margin: 30px 0 5px;
	}
	@media #{$xl} {
		gap: 50px;
	}
	@media #{$sm, $xs} {
		gap: 40px;
	}
}
.h6-customers-box {
	border-left: 1px solid var(--tj-color-border-1);
	padding-left: 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.countup-item {
		writing-mode: sideways-lr;
		.inline-content {
			font-size: 72px;
			margin-bottom: 0;

			@media #{$sm, $xs} {
				font-size: 65px;
			}
		}

		@media #{$sm, $xs} {
			margin-top: 50px;
			writing-mode: unset;
		}
	}
	.count-text {
		color: var(--tj-color-text-body);
		font-size: 16px;
		font-weight: var(--tj-ff-body);
		font-family: var(--tj-fw-regular);
	}
	@media #{$sm, $xs} {
		width: 100%;
		min-height: 200px;
		padding-left: 0;
		border-left: 0;
		padding-top: 40px;
		border-top: 1px solid var(--tj-color-border-1);
	}
}
.h6-about-img {
	width: 43.2%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	img {
		border-radius: 0;
	}

	@media #{$lg, $md} {
		width: 50%;
	}
	@media #{$sm, $xs} {
		width: 100%;
	}
}
/* !END: Home 6 About CSS  */
