@use "../utilities" as *;

/**----------------------------------------
START: Project CSS
----------------------------------------*/
.h6-project-heading {
	max-width: 850px;
	margin-bottom: 60px;
	.sec-title {
		font-size: 84px;
		line-height: 1.05;
		background: linear-gradient(
			150deg,
			rgba(255, 255, 255, 1) 40%,
			rgba(255, 255, 255, 0.25) 80%
		);
		background-clip: border-box;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@media #{$xl} {
			font-size: 74px;
		}
		@media #{$lg} {
			font-size: 64px;
		}
		@media #{$md} {
			font-size: 54px;
		}
		@media #{$sm, $xs} {
			font-size: 44px;
		}
		@media #{$xxs} {
			font-size: 36px;
		}
	}
	.tj-primary-btn {
		margin-top: 25px;
	}
	@media #{$sm, $xs} {
		margin-bottom: 40px;
	}
}
.project-wrapper-4 {
	.swiper-slide-active {
		.project-item {
			&.style-5 {
				margin-top: 0;
				opacity: 1;
			}
		}
	}
}

.project-item {
	&.style-5 {
		display: flex;
		align-items: start;
		gap: 60px;
		padding: 15px;
		margin-top: 80px;
		opacity: 0.38;
		transition: all 0.5s ease-in-out;
		.project-img {
			max-width: 600px;
			width: 100%;
			height: 543px;
			@media #{$lg} {
				height: 480px;
			}
			@media #{$md} {
				height: 420px;
			}
			@media #{$sm} {
				height: 400px;
			}
			@media #{$xs} {
				height: 280px;
			}
		}
		.project-content {
			max-width: 532px;
			width: 100%;
			padding: 60px 0;
			@media #{$lg, $md} {
				padding: 40px 0;
			}
			@media #{$sm, $xs} {
				padding: 20px 0;
			}
		}
		.title {
			max-width: 532px;
			width: 100%;
			margin-bottom: 15px;
			@media #{$xl} {
				font-size: 36px;
			}
			@media #{$lg} {
				font-size: 32px;
			}
			@media #{$md} {
				font-size: 28px;
			}
			@media #{$sm, $xs} {
				font-size: 26px;
			}
		}
		.desc {
			margin-bottom: 0;
		}
		.text-btn {
			&.style-2 {
				flex-direction: row-reverse;
				margin-top: 25px;
				@media #{$sm, $xs} {
					margin-top: 20px;
				}
				.btn-text {
					color: var(--tj-color-common-white);
					span {
						text-shadow: 0 30px 0;
					}
				}
				.btn-icon {
					width: 56px;
					height: 56px;
					font-size: 29px;
					span {
						text-shadow: -50px 0 0;
					}
					@media #{$sm, $xs} {
						width: 50px;
						height: 50px;
						font-size: 26px;
					}
				}
				&:hover {
					.btn-icon {
						span {
							transform: translateX(50px);
						}
					}
				}
			}
		}
		.categories {
			padding: 0;
			border-radius: 0;
			position: unset;
			margin-bottom: 20px;
			background-color: transparent;
			&::before,
			&::after {
				display: none;
			}
		}
		.project-logo {
			max-width: 179px;
			position: absolute;
			right: 30px;
			bottom: 30px;
			opacity: 0.4;
			@media #{$sm, $xs} {
				right: 20px;
				bottom: 20px;
			}
		}

		@media #{$xxl, $xl} {
			gap: 40px;
		}
		@media #{$lg, $md} {
			gap: 30px;
			margin-top: 60px;
		}
		@media #{$sm} {
			gap: 25px;
			margin-top: 40px;
		}
		@media #{$xs} {
			flex-wrap: wrap;
			gap: 0;
			margin-top: 40px;
		}
	}
}

.nav-pagination-wrap {
	position: relative;
	z-index: 2;
	margin-top: -20px;
	.slider-next,
	.slider-prev {
		flex: 0 0 auto;
	}
	.swiper-pagination-area {
		margin: 0;
	}
	@media #{$sm, $xs} {
		margin-top: 0;
	}
}

/* !END: Project CSS */
