@use "../utilities" as *;

/**----------------------------------------
START: Testimonial CSS
----------------------------------------*/
.h7-testimonial-section {
	border-radius: 24px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	.sec-heading {
		max-width: 550px;
		margin-inline-start: 37px;
		margin-inline-end: 0;
		position: relative;
		padding-top: 30px;
		.sub-title {
			color: var(--tj-color-white-2);
		}
		@media #{$md, $sm, $xs} {
			margin-inline-start: 0;
			padding-top: 0;
		}
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--tj-color-theme-dark);
		opacity: 0.5;
	}
}

.h7-testimonial-slider {
	border-radius: 20px;
	padding: 50px 0 60px;
	position: relative;
	.testimonial-item {
		padding: 0 50px;
		.quote-icon {
			background-color: transparent;
			font-size: 64px;
			width: auto;
			padding-bottom: 55px;
			&::before,
			&::after {
				display: none;
			}
			@media #{$lg, $md} {
				padding-bottom: 35px;
			}
			@media #{$sm, $xs} {
				font-size: 56px;
				padding-bottom: 25px;
			}
		}
		.desc {
			color: var(--tj-color-grey-1);
			font-size: 28px;
			line-height: 1.357;
			@media #{$xl} {
				font-size: 26px;
			}
			@media #{$lg, $md} {
				font-size: 24px;
			}
			@media #{$sm, $xs} {
				font-size: 20px;
			}
		}
		.testimonial-author {
			border: 0;
			padding-top: 30px;
			.author-inner {
				flex-direction: column;
				align-items: flex-start;
				gap: 6px;
			}
			.author-header {
				display: inline-flex;
				align-items: center;
				gap: 7px;
			}
			.title {
				font-size: 20px;
				@media #{$sm, $xs} {
					font-size: 18px;
				}
			}
			.designation {
				font-size: 18px;
				@media #{$sm, $xs} {
					font-size: 16px;
				}
			}
			@media #{$lg, $md} {
				padding-top: 20px;
			}
			@media #{$sm, $xs} {
				padding-top: 0;
			}
		}
		.star-ratings {
			font-size: 18px;
		}
		@media #{$lg, $md} {
			padding: 0 30px;
		}
		@media #{$sm, $xs} {
			padding: 0 20px;
		}
	}
	.swiper-pagination-area {
		position: absolute;
		left: auto;
		right: 0;
		bottom: 0;
		z-index: 2;
		text-align: right;
		padding: 0 50px 60px 0;
		@media #{$sm, $xs} {
			padding: 0 20px 40px 0;
		}
	}

	@media #{$sm, $xs} {
		border-radius: 16px;
		padding: 30px 0 40px;
	}
}

/* !END: Testimonial CSS */
