@use "../utilities" as *;

/**----------------------------------------
START: Client CSS
----------------------------------------*/
.h7-client-slider {
	&::before,
	&::after {
		display: none;
	}
	.client-logo {
		width: 285px;
		height: 120px;
		background-color: transparent;
		border: 1px solid var(--tj-color-border-1);
		img {
			opacity: 0.5;
		}
		&:hover {
			img {
				opacity: 1;
				animation: gelatine 0.5s;
			}
		}

		@media #{$xl, $lg, $md} {
			width: 220px;
			height: 100px;
		}
		@media #{$sm, $xs} {
			width: 170px;
			height: 70px;
			padding: 15px;
		}
	}
}

/* !END: Client CSS */
