@use "../utilities" as *;

/**----------------------------------------
START: Services CSS
----------------------------------------*/
.h7-service {
	&-section {
		.sec-heading-inner {
			.sec-title {
				max-width: 855px;
			}
		}
	}
	&-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
		.service-item {
			background-color: var(--tj-color-theme-dark);
			border-radius: 8px;
			border: 1px solid var(--tj-color-border-1);

			position: relative;
			z-index: 1;
			overflow: hidden;
			a {
				display: block;
				padding: 30px;
				@media #{$md,$sm,$xs} {
					padding: 20px;
				}
			}
			.title {
				margin: 0;
				span {
					display: inline-flex;
					align-items: center;
					overflow: hidden;
					i {
						font-size: 48px;
						line-height: 0.9;
						transform: rotate(-45deg);
						text-indent: -60px;
						@include transition(all 0.3s ease-in-out 0s);
						@media #{$lg, $md} {
							font-size: 38px;
						}
						@media #{$sm, $xs} {
							font-size: 34px;
						}
					}
					&:hover {
						letter-spacing: 0;
					}
				}
				@media #{$lg, $md} {
					font-size: 28px;
				}
				@media #{$sm, $xs} {
					font-size: 24px;
				}
			}
			.service-img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(1.1);
				z-index: -1;
				opacity: 0;
				visibility: hidden;
				@include transition(all 0.3s ease-in-out 0s);
				pointer-events: none;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: var(--tj-color-theme-dark);
					opacity: 0.15;
					@include transition(all 0.3s ease-in-out 0s);
				}
			}
			&.active {
				border-color: var(--tj-color-theme-primary);
				.title {
					span {
						i {
							text-indent: 0;
							margin-right: 6px;
						}
					}
				}
				.service-img {
					opacity: 1;
					visibility: visible;
					transform: translate(-50%, -50%) scale(1.01);
				}
			}
		}
		@media #{$md,$sm,$xs} {
			grid-template-columns: 100%;
			gap: 20px;
		}
	}
}

/* !END: Services CSS */
