@use "../utilities" as *;

/**----------------------------------------
START: Working process CSS
----------------------------------------*/
.h7-working-process {
	background-color: var(--tj-color-theme-bg);
	border-radius: 24px;
	position: relative;
	z-index: 1;
	&::after {
		content: "";
		position: absolute;
		bottom: -600px;
		left: -390px;
		margin: 0 auto;
		width: 900px;
		height: 900px;
		border-radius: 50%;
		background: var(--tj-color-theme-primary);
		-webkit-filter: blur(100px);
		filter: blur(100px);
		opacity: 0.2;
		z-index: -1;
		backdrop-filter: blur(10px);
	}
}

.h7-process-item-wrap {
	padding: 1px;
	&::before {
		background: transparent;
		border: 1px solid var(--tj-color-border-1);
		opacity: 1;
		visibility: visible;
		border-radius: 14px;
	}
	.process-step {
		font-size: 76px;
		color: var(--tj-color-common-white);
		opacity: 0.25;
		font-family: var(--tj-ff-heading);
		background-color: transparent;
		position: unset;
		writing-mode: inherit;
		border-radius: 0;
		height: auto;
		padding: 0;
		border: 0;
		transform: none;
		margin-bottom: 10px;
		&::after,
		&::before {
			display: none;
		}
		@media #{$lg, $sm, $xs} {
			font-size: 70px;
		}
	}
	.process-icon {
		width: 86px;
		height: 86px;
		font-size: 48px;
		position: absolute;
		right: -1px;
		top: -1px;
		border-radius: 0 0 0 14px;
		border-left: 1px solid var(--tj-color-border-1);
		border-bottom: 1px solid var(--tj-color-border-1);
		@include transition(all 0.3s ease-in-out 0s);

		&::after,
		&::before {
			content: "";
			position: absolute;
			background-color: transparent;
			top: 0px;
			left: -28px;
			width: 28px;
			height: 14px;
			box-shadow: 14px 0 0 0 var(--tj-color-theme-bg);
			border-top-right-radius: 14px;
			border-top: 1px solid var(--tj-color-border-1);
			border-right: 1px solid var(--tj-color-border-1);
			@include transition(all 0.3s ease-in-out 0s);
		}
		&::after {
			top: auto;
			left: auto;
			bottom: -14px;
			right: 0;
		}

		@media #{$lg, $sm, $xs} {
			width: 70px;
			height: 70px;
			font-size: 40px;
		}
	}
	.process-item {
		min-height: 367px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding: 35px 30px;
		z-index: 1;
		@media #{$lg, $sm, $xs} {
			min-height: 340px;
			padding: 30px 20px;
		}
		@media #{$md, $sm, $xs} {
			min-height: 300px;
		}
	}
	.process-content {
		padding: 0;
	}
	.process-item-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-radius: 15px;
		z-index: -1;
		opacity: 0;
		pointer-events: none;
		@include transition(all 0.4s ease-in-out 0s);
	}
	&:hover {
		.process-item-bg,
		.process-step {
			opacity: 1;
		}
		&::before {
			border-color: var(--tj-color-theme-primary);
		}
		.process-icon {
			border-color: var(--tj-color-theme-primary);
			&::before,
			&::after {
				border-color: var(--tj-color-theme-primary);
			}
		}
	}
}

/* !END: Working process CSS */
