@use "../utilities" as *;

/**----------------------------------------
START: Hero CSS
----------------------------------------*/
.h7-banner {
	&-section {
		background-color: var(--tj-color-theme-bg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-radius: 24px;
		position: relative;
		overflow: hidden;
		padding: 90px 40px 40px 40px;

		@media #{$xxl, $xl} {
			padding-left: 30px;
			padding-right: 30px;
		}
		@media #{$lg, $md} {
			padding: 90px 20px 30px 20px;
		}
		@media #{$sm, $xs} {
			padding: 70px 15px 20px 15px;
		}
	}
	&-area {
		position: relative;
		.banner-content {
			max-width: 1000px;
			margin-top: 0;
			margin-inline-start: 130px;
			.sub-title {
				display: inline-flex;
				align-items: center;
				gap: 4px;
				color: var(--tj-color-common-white);
				font-size: 15px;
				line-height: 1.4;
				font-weight: var(--tj-fw-sbold);
				text-transform: uppercase;
				letter-spacing: 0.1em;
				background-color: var(--tj-color-theme-dark);
				border-radius: 4px;
				padding: 4px 8px;
				margin-bottom: 15px;
				i {
					font-size: 20px;
					color: var(--tj-color-theme-primary);
					display: inline-flex;
					line-height: 1;
					animation: rotateClock 3s linear infinite;
				}
			}
			.banner-title {
				font-size: 106px;
				line-height: 1.05;
				margin-bottom: 0;
				span {
					background-color: var(--tj-color-theme-dark);
					border: 1px solid var(--tj-color-border-1);
					padding: 14px 17px;
					border-radius: 60px;
					top: 0;
					img {
						max-width: 167px;
						@media #{$lg} {
							max-width: 130px;
						}
						@media #{$md} {
							max-width: 120px;
						}
						@media #{$sm} {
							max-width: 100px;
						}
						@media #{$xs} {
							max-width: 84px;
						}
					}
					@media #{$lg, $md} {
						padding: 12px 15px;
					}
					@media #{$sm} {
						padding: 10px 12px;
					}
					@media #{$xs} {
						padding: 8px 10px;
						top: 4px;
					}
				}
				@media #{$xl} {
					font-size: 90px;
				}
				@media #{$lg} {
					font-size: 76px;
				}
				@media #{$md} {
					font-size: 70px;
				}
				@media #{$sm} {
					font-size: 58px;
				}
				@media #{$xs} {
					font-size: 46px;
				}
			}

			@media #{$xxxl} {
				margin-inline-start: 100px;
			}
			@media #{$xxl} {
				margin-inline-start: 70px;
			}
			@media #{$xl} {
				max-width: 850px;
				margin-inline-start: 0;
			}
			@media #{$lg} {
				max-width: 730px;
				margin-inline-start: 0;
			}
			@media #{$md} {
				max-width: 700px;
				margin-inline-start: 0;
			}
			@media #{$sm, $xs} {
				max-width: 100%;
				margin-inline-start: 0;
			}
		}
	}
	&-bottom {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		gap: 20px;
		padding-top: 30px;
		&-content {
			max-width: 575px;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			margin-inline-start: 230px;
			margin-bottom: 28px;
			@media #{$xxl} {
				max-width: 500px;
				margin-inline-start: 150px;
			}
			@media #{$xl} {
				max-width: 480px;
				margin-inline-start: 50px;
			}
			@media #{$lg} {
				max-width: 320px;
				flex-direction: column;
				align-items: start;
				gap: 20px;
				margin-bottom: 0;
			}
			@media #{$lg, $md, $sm, $xs} {
				margin-inline-start: 0;
			}
			@media #{$md} {
				max-width: 660px;
				margin-bottom: 0;
			}
			@media #{$sm, $xs} {
				max-width: 100%;
				margin-bottom: 0;
				gap: 20px;
			}

			.banner-desc {
				margin-bottom: 0;
				margin-inline-start: 0;
			}
		}

		@media #{$md, $sm, $xs} {
			flex-wrap: wrap;
		}
	}
	&-text-circle {
		.circle-text {
			width: 138px;
			height: 138px;
		}
		.circle-icon {
			font-size: 23px;
			span {
				width: 46px;
				height: 46px;
				background-color: var(--tj-color-theme-primary);
				text-shadow: -30px 0 0;
				overflow: hidden;
				transform: rotate(-45deg);
			}
			&:hover i {
				transform: translateX(30px);
			}
		}
	}
	&-countup {
		&-wrap {
			max-width: 650px;
			width: 100%;
			display: inline-flex;
			background-color: var(--tj-color-theme-dark);
			border-radius: 16px;
			padding: 15px;
			@media #{$xl, $lg} {
				max-width: 580px;
			}
			@media #{$xs} {
				max-width: 100%;
				flex-direction: column;
			}
		}
		padding: 17px 27px 17px 20px;
		justify-content: space-between;
		flex: 1 1 auto;
		@media #{$xl, $lg, $sm} {
			padding: 17px 20px 17px 15px;
		}
		@media #{$xs} {
			padding: 15px 0;
		}
		.countup-inner {
			max-width: 230px;
			width: 100%;
		}
		.inline-content {
			font-size: 105px;
			@media #{$xl, $lg} {
				font-size: 90px;
			}
			@media #{$sm, $xs} {
				font-size: 60px;
			}
		}
		.count-text {
			font-size: 16px;
			line-height: 1.375;
			color: var(--tj-color-grey-1);
		}
		.countup-bottom {
			display: flex;
			align-items: center;
			gap: 13px;
			margin-top: 50px;
			@media #{$lg, $sm, $xs} {
				margin-top: 30px;
			}
		}
		.service-name {
			max-width: 233px;
			width: 100%;
			color: var(--tj-color-common-white);
			border-radius: 60px;
			overflow: hidden;
			position: relative;
			z-index: 1;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			padding: 11px 15px;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: -1;
				object-fit: cover;
				@include transition(all 0.3s ease-in-out 0s);
			}
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: var(--tj-color-theme-dark);
				opacity: 0.5;
			}
			&-inner {
				display: flex;
				align-items: center;
				gap: 7px;
				position: relative;
				z-index: 2;
				i {
					color: var(--tj-color-common-white);
					font-size: 38px;
					@media #{$sm, $xs} {
						font-size: 34px;
					}
				}
				span {
					font-size: 20px;
					font-family: var(--tj-ff-heading);
					font-weight: var(--tj-fw-medium);
					letter-spacing: -0.03em;
				}
			}

			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
		.icon-btn {
			width: 60px;
			height: 60px;
			border: 1px solid var(--tj-color-border-1);
			flex: 0 0 auto;
			&:not(:hover) {
				i {
					transform: rotate(45deg);
				}
			}
		}
	}
	&-img {
		max-width: 263px;
		width: 100%;
		border-radius: 12px;
		overflow: hidden;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			@include transition(all 0.3s ease-in-out);
		}
		&:hover {
			img {
				transform: scale(1.15);
			}
		}
		@media #{$xxl} {
			max-width: 240px;
		}
		@media #{$xl, $lg, $sm} {
			max-width: 220px;
		}
		@media #{$xs} {
			max-width: 100%;
			margin-top: 20px;
		}
	}
}

/* !END: Hero CSS */
