@use "../utilities" as *;

/**----------------------------------------
START: Home 7 About CSS
----------------------------------------*/
.h7-about-section {
	position: relative;
	z-index: 1;
	overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		top: 5%;
		left: -450px;
		width: 700px;
		height: 700px;
		border-radius: 50%;
		background: var(--tj-color-theme-primary);
		-webkit-filter: blur(100px);
		filter: blur(100px);
		opacity: 0.2;
		z-index: -1;
		backdrop-filter: blur(10px);
	}
	.h5-sec-heading {
		margin-bottom: 0;
		.sec-title {
			@media #{$xl} {
				width: 62%;
			}
		}
		@media #{$md,$sm,$xs} {
			margin-bottom: 40px;
		}
	}
}

.h7-about {
	&-content {
		width: 52.5%;
		margin-top: -6px;
		@media #{$xl} {
			width: 57%;
		}
		@media #{$md,$sm,$xs} {
			width: 100%;
		}
	}
	&-img {
		max-width: 382px;
		margin-top: -45px;
		@media #{$xl} {
			max-width: 350px;
		}
		@media #{$lg} {
			max-width: 320px;
		}
		@media #{$md,$sm,$xs} {
			margin: 40px auto 0;
		}
		@media #{$sm,$xs} {
			max-width: 430px;
		}
		@media #{$xxs} {
			max-width: 250px;
		}
	}
}
.about-slider {
	&-wrap {
		background-color: var(--tj-color-theme-bg);
		border-radius: 12px;
		padding: 30px 146px 30px 30px;
		position: relative;
		.slider-navigation-3 {
			position: absolute;
			right: 30px;
			bottom: 30px;
			gap: 10px;
			@media #{$lg, $sm} {
				right: 20px;
			}
			@media #{$xs} {
				position: unset;
				margin-top: 30px;
			}
		}
		.count-icon {
			position: absolute;
			top: 0;
			right: 0;
			width: 80px;
			height: 80px;
			font-size: 20px;
			background-color: var(--tj-color-theme-dark);
			border-bottom-left-radius: 12px;
			justify-content: center;
			align-items: center;
			z-index: 2;
			@include transition(all 0.3s ease-in-out 0s);
			i {
				animation: rotateClock 3s linear infinite;
			}
			&::before,
			&::after {
				content: "";
				position: absolute;
				background-color: transparent;
				top: 0px;
				left: -25px;
				width: 25px;
				height: 12px;
				box-shadow: 12px 0 0 0 var(--tj-color-theme-dark);
				border-top-right-radius: 12px;
				z-index: -1;
				@include transition(all 0.3s ease-in-out 0s);
			}
			&::after {
				top: auto;
				left: auto;
				bottom: -12px;
				right: 0;
			}
			@media #{$lg, $sm, $xs} {
				width: 60px;
				height: 60px;
			}
		}
		@media #{$lg, $sm} {
			padding: 30px 135px 30px 20px;
		}
		@media #{$xs} {
			padding: 30px 20px;
		}
	}
}
.about-item {
	.title {
		margin-bottom: 18px;
	}
	.desc {
		font-size: 18px;
		line-height: 27px;
		margin-bottom: 0;
	}
	.tj-secondary-btn,
	.tj-primary-btn {
		margin-top: 25px;
	}
}
.about-pagination {
	margin: 40px 0 50px;
	@media #{$lg} {
		margin: 30px 0 40px;
	}
	@media #{$md,$sm,$xs} {
		margin: 0 0 30px;
	}
}

/* !END: Home 7 About CSS  */
