@use "../utilities" as *;

/**----------------------------------------
START: Blog CSS
----------------------------------------*/
.h8-blog-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	.blog-item {
		&.style-5 {
			flex: 1;
			@media #{$md, $sm, $xs} {
				flex: 1 1 100%;
			}
			.title {
				@media #{$lg} {
					font-size: 20px;
				}
			}
			&:first-child {
				flex: 1 1 100%;
				.blog-thumb {
					width: 50%;
					min-height: 480px;
					@media #{$lg} {
						min-height: 420px;
					}
					@media #{$md} {
						width: 100%;
						min-height: 360px;
					}
					@media #{$sm, $xs} {
						width: 100%;
						min-height: 260px;
					}
				}
				.blog-content {
					width: 50%;
					padding: 15px 15px 15px 30px;
					.title {
						@media #{$lg} {
							font-size: 26px;
						}
					}
					.tj-secondary-btn {
						margin-top: 30px;
						@media #{$md, $sm, $xs} {
							margin-top: 20px;
						}
					}
					@media #{$md, $sm, $xs} {
						width: 100%;
						padding: 30px 0 15px;
					}
				}
			}
		}
	}
}

/* !END: Blog CSS */
