@use "../utilities" as *;

/**----------------------------------------
START: Services CSS
----------------------------------------*/
.h8-service {
	&-section {
		background-color: var(--tj-color-theme-bg);
		border-radius: 24px;
		position: relative;
		z-index: 1;
	}
	&-wrapper {
		.service-slider-2 {
			overflow: inherit;
		}
		.swiper-slide {
			max-width: 645px;
			width: 100%;
			@media #{$xxl} {
				max-width: 610px;
			}
			@media #{$xl} {
				max-width: 575px;
			}
		}
		@media #{$xs} {
			padding-inline-start: 12px;
		}
	}
	&-item {
		background-color: var(--tj-color-theme-dark);
		padding: 30px;
		border-radius: 12px;
		position: relative;
		.service-item-inner {
			display: flex;
			gap: 30px;
			align-items: center;
			padding-bottom: 75px;
			@media #{$md} {
				padding-bottom: 50px;
			}
			@media #{$sm, $xs} {
				flex-wrap: wrap;
				padding-bottom: 30px;
			}
		}
		.service-img {
			width: 200px;
			height: 200px;
			border-radius: 9px;
			overflow: hidden;
			flex: 0 0 auto;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				@include transition(all 0.3s ease-in-out 0s);
			}
			@media #{$sm, $xs} {
				width: 100%;
			}
		}
		.item-count {
			font-size: 68px;
			line-height: 1;
			font-family: var(--tj-ff-heading);
			font-weight: var(--tj-fw-medium);
			color: var(--tj-color-common-white);
			opacity: 0.1;
			display: inline-flex;
			margin-bottom: 10px;
		}
		.desc {
			margin: 0;
		}
		.title {
			width: calc(100% - 70px);
			a {
				display: inline-flex;
				&:hover {
					color: var(--tj-color-theme-primary);
				}
			}
		}
		.service-link {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 80px;
			height: 80px;
			background-color: var(--tj-color-theme-bg);
			border-top-left-radius: 12px;
			padding: 10px;
			color: var(--tj-color-common-white);
			font-size: 47px;
			text-align: center;
			z-index: 1;
			&::before,
			&::after {
				content: "";
				position: absolute;
				background-color: transparent;
				top: -25px;
				right: 0;
				width: 12px;
				height: 25px;
				box-shadow: 0 12px 0 0 var(--tj-color-theme-bg);
				border-bottom-right-radius: 12px;
				z-index: -1;
				pointer-events: none;
			}
			&::after {
				top: auto;
				right: auto;
				bottom: 0;
				left: -12px;
			}
			span {
				display: inline-flex;
				line-height: 1;
				transform: rotate(-45deg);
				overflow: hidden;
			}
			i {
				display: inline-flex;
				line-height: 1;
				text-shadow: -56px 0 0 var(--tj-color-theme-primary);
				@include transition(all 0.3s ease-in-out 0s);
			}
			&:hover {
				i {
					transform: translateX(56px);
				}
			}
			@media #{$lg, $sm, $xs} {
				width: 55px;
				height: 55px;
				font-size: 25px;
			}
		}
		&:hover {
			.item-count {
				opacity: 1;
			}
			.service-img {
				img {
					transform: scale(1.1);
				}
			}
		}
		@media #{$sm, $xs} {
			padding: 20px;
		}
	}
}

/* !END: Services CSS */
