@use "../utilities" as *;

/**----------------------------------------
START: Project CSS
----------------------------------------*/
.h8-project {
	&-section {
		position: relative;
		z-index: 1;
		overflow: hidden;
		&::before {
			content: "";
			position: absolute;
			top: 100px;
			left: -350px;
			width: 600px;
			height: 900px;
			border-radius: 50%;
			background: var(--tj-color-theme-primary);
			-webkit-filter: blur(100px);
			filter: blur(100px);
			backdrop-filter: blur(10px);
			opacity: 0.2;
			z-index: -1;
			pointer-events: none;
			@media #{$lg, $md} {
				top: 150px;
				left: -400px;
				height: 800px;
			}
			@media #{$sm, $xs} {
				top: 150px;
				left: -470px;
				height: 700px;
			}
		}
	}
	&-wrapper {
		position: relative;
	}
	&-heading {
		position: relative;
		z-index: 2;
		.client-content {
			.client-numbers {
				padding: 0 9px;
			}
		}
	}
	&-item {
		position: relative;
		padding: 45px 0 55px 0;
		border-top: 1px solid var(--tj-color-border-1);
		border-bottom: 1px solid var(--tj-color-border-1);
		&:not(:last-child) {
			border-bottom: 0;
		}
		@media #{$lg, $md} {
			padding: 37px 0 45px 0;
		}
		@media #{$sm, $xs} {
			padding: 34px 0 40px 0;
		}
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 1px;
			background-color: var(--color-section-bg);
			@include transition(all 0.6s ease-in-out);
		}
		.project-content {
			position: relative;
			z-index: 2;
			@include transition(all 0.4s ease-in-out);
			@media #{$sm, $xs} {
				margin-inline-start: 0;
			}
		}
		.item-count {
			font-size: 18px;
			line-height: 1;
			font-family: var(--tj-ff-heading);
			font-weight: var(--tj-fw-medium);
			color: var(--tj-color-common-white);
			position: absolute;
			top: 6px;
			left: 0;
			opacity: 0;
			visibility: hidden;
		}
		.title {
			max-width: 580px;
			width: 100%;
			margin-bottom: 20px;
			color: var(--tj-color-grey-1);
			@media #{$lg} {
				max-width: 480px;
			}
			@media #{$md} {
				max-width: 435px;
				font-size: 36px;
			}
			@media #{$sm, $xs} {
				font-size: 30px;
			}
		}
		.categories {
			padding: 0;
			border-radius: 0;
			position: unset;
			background-color: transparent;
			&::before,
			&::after {
				display: none;
			}
			a {
				&:not(:hover) {
					background-color: var(--tj-color-theme-bg);
				}
				border-radius: 22px;
			}
		}
		.tj-secondary-btn,
		.tj-primary-btn {
			margin-top: 25px;
		}

		&:hover {
			&::before {
				width: 100%;
			}
			.item-count {
				opacity: 1;
				visibility: visible;
			}
			.project-content {
				padding-inline-start: 40px;
			}
			.title {
				color: var(--tj-color-common-white);
			}
			.item-reveal-bg {
				width: 100%;
				opacity: 1;
			}
		}
	}
}
.item-reveal-bg {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 540px;
	width: 0;
	height: 540px;
	opacity: 0;
	border-radius: 16px;
	margin: -220px 0 0 -270px;
	overflow: hidden;
	pointer-events: none;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: opacity 0.3s, width 2s,
		transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
		-webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	z-index: 1;

	@media #{$xl} {
		max-width: 500px;
		height: 500px;
	}
	@media #{$lg} {
		max-width: 440px;
		height: 440px;
		margin: -200px 0 0 -220px;
	}
	@media #{$md} {
		max-width: 380px;
		height: 380px;
		margin: -180px 0 0 -180px;
	}
	@media #{$sm, $xs} {
		display: none;
	}
}

/* !END: Project CSS */
