@use "../utilities" as *;

/**----------------------------------------
START: Theme Marquee CSS
----------------------------------------*/
.marquee-wrap {
	background-color: var(--tj-color-theme-primary);
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	@media #{$md, $sm, $xs} {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}

.marquee {
	&-slider {
		padding-bottom: 5px;
		.swiper-wrapper {
			transition-timing-function: linear;
		}
	}
	&-area {
		padding-top: 70px;
		padding-bottom: 75px;
		@media #{$lg, $md, $sm, $xs} {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
	&-item {
		width: auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 35px;
		padding-right: 35px;
		.marquee-text {
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: 2px var(--tj-color-common-white);
			font-size: 160px;
			font-weight: var(--tj-fw-sbold);
			font-family: var(--tj-ff-heading);
			line-height: 1.2;
			margin: 0;
			opacity: 0.2;
			&:hover {
				opacity: 0.8;
			}
			@media #{$xl, $lg} {
				font-size: 100px;
			}
			@media #{$md} {
				font-size: 80px;
			}
			@media #{$sm, $xs} {
				font-size: 50px;
				-webkit-text-stroke: 1px var(--tj-color-common-white);
			}
		}
		.marquee-icon {
			position: relative;
			top: 4px;
			color: var(--tj-color-theme-primary);
			font-size: 40px;
			line-height: 1;
			animation: rotateAntiClock 6s linear infinite;
			img {
				height: 100%;
			}
			@media #{$xl, $lg} {
				font-size: 35px;
			}
			@media #{$md} {
				font-size: 30px;
			}
			@media #{$sm, $xs} {
				font-size: 22px;
			}
		}
		@media #{$md, $sm} {
			gap: 25px;
			padding-right: 25px;
		}
		@media #{$xs} {
			gap: 20px;
			padding-right: 20px;
		}
	}
}

/* Scroll slider */
.scroll-slider {
	--gap: 35px;
	position: relative;
	display: flex;
	overflow: hidden;
	user-select: none;
	align-items: center;
	gap: var(--gap);
	@media #{$md, $sm} {
		--gap: 25px;
	}
	@media #{$xs} {
		--gap: 20px;
	}
}
.scroll-wrapper {
	flex-shrink: 0;
	display: flex;
	gap: var(--gap);
	min-width: 100%;
	animation: scroll 40s linear infinite;
}

/* RTL override */
[dir="rtl"] .scroll-wrapper {
	animation: scroll-rtl 40s linear infinite;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

@keyframes scroll-rtl {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(100% + var(--gap)));
	}
}

/* !END: Theme Marquee CSS */
