@use "../utilities" as *;

/**----------------------------------------
START: Breadcrumb CSS
----------------------------------------*/
.tj-page {
	&-header {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: var(--tj-color-theme-dark);
		border-radius: 20px;
		padding-top: 135px;
		padding-bottom: 150px;
		margin-inline-start: 30px;
		margin-inline-end: 30px;
		position: relative;
		overflow: hidden;
		z-index: 2;
		&::before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: var(--tj-color-theme-dark);
			opacity: 0.6;
		}
		@media #{$xl, $lg, $md, $sm, $xs} {
			margin-inline-start: 15px;
			margin-inline-end: 15px;
		}
		@media #{$xl} {
			padding-top: 100px;
			padding-bottom: 120px;
		}
		@media #{$lg} {
			padding-top: 90px;
			padding-bottom: 100px;
		}
		@media #{$md, $sm, $xs} {
			padding-top: 60px;
			padding-bottom: 70px;
		}
	}
	&-title {
		color: var(--tj-color-common-white);
		line-height: 1;
		margin-bottom: 0;
	}
	&-link {
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 8px;
		position: relative;
		background: var(--tj-color-theme-dark);
		border-radius: 6px;
		padding: 8px 15px;
		margin-top: 26px;
		z-index: 2;
		span {
			color: var(--tj-color-grey-1);
			font-size: 16px;
			position: relative;
			display: inline-block;
			line-height: 1;
			i {
				display: inline-flex;
				line-height: 1;
				font-size: 16px;
				color: var(--tj-color-theme-primary);
			}
			span {
				color: var(--tj-color-common-white);
			}
			a {
				color: var(--tj-color-grey-1);
				&:hover {
					color: var(--tj-color-theme-primary);
				}
			}
		}
		@media #{$md, $sm, $xs} {
			margin-top: 25px;
		}
	}
}

.legal-page {
	.tj-page-title {
		font-size: clamp(36px, 6vw, 78px);
	}
}

/* !END: Breadcrumb CSS */
