@use "../utilities" as *;

/**----------------------------------------
START: Testimonial CSS
----------------------------------------*/
.tj-testimonial-section {
	background-color: var(--tj-color-theme-bg);
	border-radius: 24px;
	overflow: hidden;
	.content-wrap {
		.desc {
			max-width: 430px;
			width: 100%;
			margin-bottom: 23px;
		}
	}
	&-2 {
		overflow: hidden;
	}

	// Reduce bottom padding for balanced spacing with following sections
	&.section-gap {
		padding-bottom: 80px;

		@media #{$lg} {
			padding-bottom: 70px;
		}
		@media #{$md, $sm, $xs} {
			padding-bottom: 35px;
		}
	}
}

.testimonial-wrapper {
	position: relative;
	@media #{$md, $sm, $xs} {
		margin-top: 15px;
	}
	&-2 {
		@media #{$xs} {
			margin-right: -15px;
		}
	}
}

.testimonial {
	&-wrapper {
		background-color: var(--tj-color-theme-dark);
		border-top-right-radius: 12px;
		border-bottom-left-radius: 12px;

		.quote-icon {
			color: var(--tj-color-theme-primary);
			font-size: 64px;
			line-height: 1;
			display: inline-flex;
			justify-content: center;
			background-color: var(--tj-color-theme-bg);
			border-bottom-right-radius: 12px;
			width: 138px;
			padding-bottom: 16px;
			position: relative;
			left: 0;
			top: 0;
			z-index: 2;

			@media #{$sm, $xs} {
				width: 100px;
				font-size: 50px;
				padding-bottom: 10px;
			}
			&::after,
			&::before {
				content: "";
				position: absolute;
				background-color: transparent;
				top: 0px;
				right: -25px;
				width: 25px;
				height: 12px;
				box-shadow: 12px 0 0 0 var(--tj-color-theme-bg);
				border-top-right-radius: 12px;
				z-index: -1;
				transform: scaleX(-1);
			}
			&::after {
				top: auto;
				right: auto;
				bottom: -12px;
				left: 0;
			}
		}
	}
	&-slider {
		.pagination-1 {
			width: 122px;
			background-color: var(--tj-color-theme-bg);
			border-top-left-radius: 12px;
			position: absolute;
			left: auto;
			right: 0;
			bottom: 0;
			margin: 0;
			padding: 20px 10px;
			z-index: 2;

			@media #{$sm, $xs} {
				width: 100px;
				padding: 15px 10px;
			}
			&::after,
			&::before {
				content: "";
				position: absolute;
				background-color: transparent;
				top: -25px;
				right: 0;
				width: 12px;
				height: 25px;
				box-shadow: 0 12px 0 0 var(--tj-color-theme-bg);
				border-bottom-right-radius: 12px;
				z-index: -1;
			}
			&::after {
				top: auto;
				right: auto;
				bottom: 0;
				left: -12px;
			}
		}
		&-2 {
			.rating-area {
				max-width: 133px;
				background-color: var(--tj-color-theme-dark);
				border-top-right-radius: 12px;
				position: absolute;
				left: 0;
				bottom: -2px;
				margin: -2px;
				padding: 12px 10px 0 30px;
				z-index: 2;

				@media #{$lg} {
					padding: 12px 10px 0 20px;
				}
				@media #{$sm, $xs} {
					padding: 12px 10px 0 20px;
				}
				&::after,
				&::before {
					content: "";
					position: absolute;
					background-color: transparent;
					top: -25px;
					left: 0;
					width: 12px;
					height: 25px;
					box-shadow: 0 12px 0 0 var(--tj-color-theme-dark);
					border-bottom-right-radius: 12px;
					z-index: -1;
					transform: scaleX(-1);
				}
				&::after {
					top: auto;
					left: auto;
					bottom: 0;
					right: -12px;
				}
				.star-ratings {
					font-size: 20px;
					letter-spacing: 1.5px;
					display: inline-flex;
				}
			}
		}
		&-3 {
			.testimonial-item-wrap {
				margin-bottom: 80px;
			}
		}
	}
	&-item {
		&-wrap {
			border-radius: 12px;
			background-color: var(--tj-color-theme-bg);
			padding: 2px;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				background-image: linear-gradient(
					rgb(47, 107, 255) 15%,
					rgba(47, 107, 255, 0) 80%
				);
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;
				border-radius: 12px;
				@include transition(all 0.3s ease-in-out 0s);
			}
			&:hover {
				&::before {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		padding: 33px 40px 40px;
		.quote-icon {
			color: var(--tj-color-theme-primary);
			font-size: 48px;
			line-height: 1;
			display: inline-flex;
		}
		.rating-wrap {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 10px;
			.rating-img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-color: var(--tj-color-theme-bg);
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					width: 33px;
					height: 33px;
				}
			}
			.rating-text {
				color: var(--tj-color-text-body-2);
				font-size: 14px;
				strong {
					font-size: 16px;
					font-weight: var(--tj-fw-sbold);
					color: var(--tj-color-common-black);
				}
			}
		}
		.desc {
			font-size: 22px;
			color: var(--tj-color-white-2);
			line-height: 1.5;
			padding-bottom: 22px;
			p {
				margin-bottom: 0;
			}
			@media #{$xl, $lg} {
				font-size: 20px;
			}
			@media #{$md, $sm, $xs} {
				font-size: 18px;
			}
		}
		.testimonial-author {
			.title {
				line-height: 1;
				margin-bottom: 5px;
				@media #{$lg} {
					font-size: 18px;
				}
			}
		}

		@media #{$xl, $lg} {
			padding: 33px 25px 40px;
		}
		@media #{$sm, $xs} {
			padding: 30px 20px 40px;
		}
		&.style-2 {
			background-color: var(--tj-color-theme-bg);
			border-top-left-radius: 12px;
			border-bottom-right-radius: 12px;
			padding: 28px 28px 45px;
			position: relative;
			z-index: 3;
			.quote-icon {
				display: inline-flex;
				justify-content: flex-end;
				background-color: var(--tj-color-theme-dark);
				border-bottom-left-radius: 12px;
				width: 68px;
				padding-bottom: 15px;
				position: absolute;
				top: -2px;
				right: -2px;
				z-index: 2;
				border-left: 2px solid transparent;
				border-bottom: 2px solid transparent;
				&::after,
				&::before {
					content: "";
					position: absolute;
					background-color: transparent;
					top: 0px;
					left: -25px;
					width: 25px;
					height: 12px;
					box-shadow: 12px 0 0 0 var(--tj-color-theme-dark);
					border-top-right-radius: 12px;
					z-index: -1;
					border-top: 2px solid transparent;
					border-right: 2px solid transparent;
				}
				&::after {
					top: auto;
					left: auto;
					right: 0;
					bottom: -12px;
				}
				@media #{$lg, $md, $sm, $xs} {
					width: 55px;
					font-size: 40px;
					padding-bottom: 10px;
				}
			}
			.testimonial-author {
				border: 0;
				padding: 0 45px 26px 0;
				.author-img {
					width: 84px;
					height: 84px;
					border: 2px solid var(--color-section-bg);
					background-color: var(--color-section-bg);
					border-radius: 50%;
					@media #{$xl, $md} {
						width: 75px;
						height: 75px;
					}
					@media #{$lg, $sm, $xs} {
						width: 65px;
						height: 65px;
					}
					@media #{$sm, $xs} {
						width: 55px;
						height: 55px;
					}
				}
				.designation {
					font-size: 16px;
				}
			}
			.desc {
				font-size: 18px;
				color: var(--tj-color-text-body);
				padding-bottom: 22px;
			}

			&:hover {
				.quote-icon {
					border-left-color: var(--tj-color-theme-primary);
					border-bottom-color: var(--tj-color-theme-primary);
					&::before,
					&::after {
						border-top-color: var(--tj-color-theme-primary);
						border-right-color: var(--tj-color-theme-primary);
					}
				}
			}
			@media #{$lg} {
				padding: 25px 20px 40px;
			}
			@media #{$sm, $xs} {
				padding: 25px 16px 35px;
			}
		}
		&.style-3 {
			background-color: var(--tj-color-theme-dark);
			border-radius: 12px;
			padding: 100px 28px 105px;
			position: relative;
			z-index: 3;
			.quote-icon {
				justify-content: center;
				background-color: var(--tj-color-theme-bg);
				border-radius: 0 0 12px 12px;
				width: 98px;
				padding: 0 15px 15px 15px;
				position: absolute;
				top: -2px;
				right: 50%;
				z-index: 2;
				transform: translateX(50%);
				border: 2px solid transparent;
				border-top: 0;
				&::before,
				&::after {
					content: "";
					position: absolute;
					background-color: transparent;
					top: 0;
					left: -24px;
					width: 24px;
					height: 12px;
					box-shadow: 12px 0 0 0 var(--tj-color-theme-bg);
					border-radius: 0 12px 0 0;
					z-index: -1;
					border-top: 2px solid transparent;
					border-right: 2px solid transparent;
				}
				&::after {
					left: auto;
					right: -24px;
					transform: scaleX(-1);
				}
				@media #{$lg, $md, $sm, $xs} {
					width: 75px;
					font-size: 40px;
					padding-bottom: 10px;
				}
			}
			.testimonial-author {
				border: 0;
				padding: 0;
				justify-content: center;
				position: absolute;
				bottom: -80px;
				left: 50%;
				transform: translateX(-50%);
				.author-img {
					width: 84px;
					height: 84px;
				border: 2px solid var(--color-section-bg);
				background-color: var(--color-section-bg);
					border-radius: 50%;
					@media #{$xl} {
						width: 75px;
						height: 75px;
					}
					@media #{$lg, $md} {
						width: 65px;
						height: 65px;
					}
					@media #{$sm, $xs} {
						width: 55px;
						height: 55px;
					}
				}
				.author-inner {
					flex-direction: column;
				}
				.author-header {
					text-align: center;
				}
			}
			.desc {
				color: var(--tj-color-white-2);
				font-size: 22px;
				text-align: center;
				padding-bottom: 0;
				@media #{$xl, $lg} {
					font-size: 20px;
				}
				@media #{$md, $sm, $xs} {
					font-size: 18px;
				}
			}
			.circle-shape {
				position: absolute;
				left: 50%;
				bottom: -20px;
				width: 104px;
				height: 104px;
				transform: translateX(-50%);
				background-color: var(--tj-color-theme-bg);
				border-radius: 50% 50% 0 0;
				z-index: -1;
				border-top: 2px solid transparent;
				@include transition(all 0.3s ease-in-out 0s);
				&::after,
				&::before {
					content: "";
					position: absolute;
					background-color: transparent;
					bottom: 20px;
					left: -12px;
					width: 12px;
					height: 24px;
					box-shadow: 0 12px 0 0 var(--tj-color-theme-bg);
					border-radius: 0 0 12px 0;
					z-index: -1;
				}
				&::after {
					left: auto;
					right: -12px;
					border-radius: 0 0 0 12px;
				}

				@media #{$lg, $md} {
					width: 85px;
					height: 82px;
				}
				@media #{$sm, $xs} {
					width: 75px;
					height: 70px;
				}
			}

			&:hover {
				.quote-icon {
					border-color: var(--tj-color-theme-primary);
					&::before,
					&::after {
						border-color: var(--tj-color-theme-primary);
					}
				}
				.circle-shape {
					border-color: rgba(47, 107, 255, 0.3);
				}
			}
			@media #{$lg, $md} {
				padding: 90px 20px 95px;
			}
			@media #{$sm, $xs} {
				padding: 80px 20px 85px;
			}
		}
	}
}

.testimonial-author {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	border-top: 1px solid var(--tj-color-border-1);
	.author-inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 15px;
	}
	.author-img {
		width: 68px;
		height: 68px;
		border-radius: 8px;
		overflow: hidden;
		&.style-2 {
			width: 84px;
			height: 84px;
			border-radius: 50%;
			border: 2px solid var(--tj-color-common-white);
		}
		@media #{$sm, $xs} {
			width: 50px;
			height: 50px;
		}
	}
	.title {
		margin-bottom: 0;
		line-height: 1;
	}
	.designation {
		font-size: 14px;
		line-height: 1;
		display: inline-flex;
	}
	.quote-icon {
		display: inline-flex;
		line-height: 1;
		color: var(--tj-color-theme-primary);
		font-size: 43px;
		i {
			display: inline-flex;
			line-height: 1;
		}
		@media #{$sm, $xs} {
			font-size: 30px;
		}
	}
	@media #{$sm, $xs} {
		padding-top: 20px;
	}
}

.star-ratings {
	unicode-bidi: bidi-override;
	font-size: 24px;
	line-height: 1;
	letter-spacing: 3px;
	position: relative;
	margin: 0;
	padding: 0;
	-webkit-text-stroke: 1px var(--tj-color-theme-primary);
	.fill-ratings {
		color: var(--tj-color-theme-primary);
		padding: 0;
		position: absolute;
		z-index: 1;
		display: inline-flex;
		top: 0;
		left: 0;
		overflow: hidden;
		span {
			display: inline-block;
			margin: 0;
		}
	}
	.empty-ratings {
		padding: 0;
		display: inline-flex;
		z-index: 0;
		color: transparent;
	}
}

.rating-box {
	max-width: 360px;
	background-color: var(--tj-color-theme-dark);
	border-radius: 12px;
	padding: 18px 30px 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
	position: relative;
	&::before {
		content: "";
		background-color: var(--tj-color-border-1);
		width: 1px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 155px;
		@media #{$sm, $xs} {
			left: 110px;
		}
	}
	.rating-area {
		display: flex;
		flex-direction: column;
	}
	.title {
		color: var(--tj-color-common-white);
		font-size: 76px;
		line-height: 1;
		margin-bottom: 0;
		@media #{$sm, $xs} {
			font-size: 50px;
		}
	}
	.rating-text {
		line-height: 1;
		margin-top: 8px;
	}
	@media #{$sm, $xs} {
		max-width: 305px;
		padding: 20px 20px 25px;
	}
}
.mobile-navigation {
	text-align: center;
	margin-top: 30px;
}

// Slider navigation
.slider-navigation {
	gap: 10px;
}
.slider-navigation-2 {
	gap: 10px;
	.slider-next,
	.slider-prev {
		background-color: var(--tj-color-theme-bg);
		&:hover {
			background-color: var(--tj-color-theme-primary);
		}
	}
}
.slider-navigation-3 {
	gap: 15px;
	.slider-next,
	.slider-prev {
		width: 50px;
		height: 50px;
		border: 1px solid var(--tj-color-border-1);
		&:hover {
			border-color: var(--tj-color-theme-primary);
		}
	}
}
.slider-next,
.slider-prev {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;
	width: 60px;
	height: 60px;
	font-size: 21px;
	background-color: var(--tj-color-theme-dark);
	border-radius: 50%;
	@include transition(all 0.3s);
	.anim-icon {
		position: relative;
		display: inline-flex;
		overflow: hidden;
		transform: rotate(0deg);
		i {
			position: relative;
			top: 0;
			color: var(--tj-color-common-white);
			@include transition(all 0.3s);
			&:last-child {
				position: absolute;
				transform: translateX(150%);
				color: var(--tj-color-common-white);
			}
		}
	}
	&:hover {
		color: var(--tj-color-common-white);
		background-color: var(--tj-color-theme-primary);
		.anim-icon {
			i {
				&:first-child {
					transform: translateX(-150%);
				}
				&:last-child {
					transform: translateX(0);
				}
			}
		}
	}
	@media #{$sm, $xs} {
		width: 50px;
		height: 50px;
		font-size: 19px;
	}
}
.slider-next {
	.anim-icon {
		i {
			&:last-child {
				transform: translateX(-150%);
			}
		}
	}
	&:hover {
		.anim-icon {
			i {
				&:first-child {
					transform: translateX(150%);
				}
			}
		}
	}
}

// Slider pagination
.swiper {
	&-pagination {
		&-area {
			text-align: center;
			line-height: 0;
			margin-top: 60px;
			&.white-pagination {
				.swiper-pagination-bullet {
					background-color: var(--color-off-white);
				}
			}
			@media #{$sm, $xs} {
				margin-top: 30px;
			}
		}
		&-bullet {
			width: 10px;
			height: 10px;
			background-color: var(--color-off-white);
			border-radius: 50%;
			opacity: 0.5;
			position: relative;
			margin: 5px;
			@include transition(all 0.5s ease-in-out 0s);
			&-active {
				background-color: var(--color-primary);
				opacity: 1;
			}
		}
	}
}

/* !END: Testimonial CSS */
