@use "../utilities" as *;

/**----------------------------------------
START: Working process CSS
----------------------------------------*/
.tj-working-process {
	background-color: var(--tj-color-theme-bg);
	border-radius: 24px;
	position: relative;
	z-index: 1;
	.sec-heading {
		max-width: 550px;
		margin-inline-start: 0;
		margin-inline-end: 0;
	}
	&-2 {
		background-color: var(--tj-color-theme-bg);
		border-radius: 24px;
	}
}
.working-img {
	max-width: 604px;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
	@media #{$md, $sm, $xs} {
		max-width: 100%;
	}
}
.working-process-area {
	display: flex;
	flex-direction: column;
	gap: 30px;
	@media #{$lg, $sm, $xs} {
		gap: 20px;
	}
	@media #{$md, $sm, $xs} {
		margin-bottom: 40px;
	}
}
.process {
	&-item {
		&-wrap {
			border-radius: 12px;
			background-color: var(--tj-color-theme-bg);
			overflow: hidden;
			padding: 2px;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				background-image: linear-gradient(
					to left,
					rgb(47, 107, 255) 0%,
					rgba(47, 107, 255, 0) 50%
				);
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;
				@include transition(all 0.3s);
			}
			&:hover {
				&::before {
					opacity: 1;
					visibility: visible;
				}
				.process-step {
					border-color: var(--tj-color-theme-primary);
					&::before {
						width: 20px;
						border-bottom-color: var(--tj-color-theme-primary);
						border-right-color: var(--tj-color-theme-primary);
					}
					&::after {
						width: 20px;
						border-top-color: var(--tj-color-theme-primary);
						border-right-color: var(--tj-color-theme-primary);
					}
				}
				.process-icon {
					span {
						animation: flip 0.5s ease-in-out;
					}
				}
			}
			&.style-2 {
				&::before {
					background-image: linear-gradient(
						-125deg,
						rgb(47, 107, 255) 12%,
						rgba(47, 107, 255, 0) 35%
					);
				}
				.process-item {
					flex-direction: column;
					align-items: start;
					padding: 40px 30px 50px 30px;
					gap: 35px;
				}
				.process-step {
					top: 40px;
					transform: translateY(0);
				}
			}
		}
		background-color: var(--tj-color-theme-dark);
		padding: 28px;
		position: relative;
		border-radius: 12px;
		display: flex;
		align-items: center;
		gap: 20px;

		@media #{$sm, $xs} {
			padding: 30px 30px 30px 20px;
		}
		@media (max-width: 450px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&-step {
		font-size: 16px;
		color: var(--tj-color-theme-primary);
		background-color: var(--tj-color-theme-bg);
		font-weight: var(--tj-fw-medium);
		display: inline-flex;
		line-height: 1;
		position: absolute;
		top: 50%;
		right: -2px;
		transform: translateY(-50%);
		-webkit-writing-mode: sideways-lr;
		writing-mode: sideways-lr;
		padding: 8px 0 8px 12px;
		justify-content: center;
		height: 84px;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		border: 2px solid transparent;
		border-right: 0;
		@include transition(all 0.3s);
		span {
			transition: none;
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			background-color: transparent;
			top: -12px;
			right: 0;
			width: 25px;
			height: 12px;
			box-shadow: 12px 0 0 0 var(--tj-color-theme-bg);
			border-bottom-right-radius: 12px;
			z-index: -1;
			border-bottom: 2px solid transparent;
			border-right: 2px solid transparent;
			@include transition(all 0.3s);
		}
		&::after {
			top: auto;
			bottom: -12px;
			right: 0;
			border-bottom-right-radius: 0;
			border-top-right-radius: 12px;
			border-bottom: 2px solid transparent;
			border-top: 2px solid transparent;
		}
	}
	&-icon {
		width: 98px;
		height: 98px;
		background-color: var(--tj-color-theme-bg);
		border-radius: 14px;
		font-size: 48px;
		color: var(--tj-color-theme-primary);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 auto;
		line-height: 1;
		@media #{$sm, $xs} {
			width: 80px;
			height: 80px;
			font-size: 38px;
		}
	}
	&-content {
		padding-right: 8px;
		.title {
			margin-bottom: 18px;
			@media #{$sm, $xs} {
				margin-bottom: 10px;
			}
		}
		.desc {
			margin: 0;
		}
	}
}

/* !END: Working process CSS */
